.reset-header {
    .title {
        color: #072169;
        text-align: center;
        // margin-left: 3rem;
    }
}

.password-container {
    // height: 100vh;
    background-color: #F9FBFF;
    min-height: 100vh;
    padding: 2rem 1.2rem;

    .error-box {
        text-align: center;
        margin: 1rem 0;
        background-color: #F442741A;
        border-radius: 7px;
        color: #EF2F55;
        font-size: 0.8rem;
        font-family: 'gotham-medium';
        padding: .5rem 0;
        display: flex;
        justify-content: center;
    }

    h1 {
        text-align: start;
        margin-bottom: 2rem;
        font-family: 'graphik-medium';
    }

    .text {
        font-size: .9rem;
        margin: 1rem 0;
        color: #000000B2;
        font-family: 'graphik-medium';
        line-height: 1.5;
    }

    div {
        .inputs-container {
            margin-top: 4.5rem;

            .input-container {
                display: flex;
                flex-direction: column;
                margin-bottom: 3rem;

                .label-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .6rem;

                    .show {
                        color: #072169;
                    }

                    .required-text {
                        font-size: 0.95rem;
                        color: #E15220;
                        font-family: 'sansation-regular';
                        margin: 0;
                    }

                    .input-label {
                        font-size: 1.1rem;
                        color: #072169;
                        font-family: 'gotham-medium';
                        margin: 0;
                    }
                }

                .label {
                    margin-top: 2rem;
                    display: block;
                    margin-bottom: 0.3rem;
                    font-size: 0.76rem;
                    color: #000000B2;
                    font-family: 'graphik-medium';
                }

                .inputError {
                    color: #EF2F55;
                    font-size: 0.8rem;
                    font-family: 'graphik-medium';
                    padding: .5rem 0;
                }

                .password-input {
                    height: 3.5rem;
                    color: #072169;
                    font-size: 0.95rem;
                    font-family: 'sansation-regular';
                    border-radius: 14px;
                    padding: 0.5rem 1rem;
                    border: 1px solid #D9D9D9;
                    outline: none;
                    background-color: #fff;
                }

                .show {
                    color: #00000080;
                }

                ::placeholder {
                    color: #00000080;
                }
            }

            .inputError {
                color: #EF2F55;
                font-size: 0.8rem;
                font-family: 'graphik-medium';
                padding: .5rem 0;
            }


        }

        .btn {
            background-color: #EF2F55;
            background-color: #E15220;
            justify-content: center;
            flex-direction: row;
            display: flex;
            align-items: center;
            padding: 1.3rem 0;
            border-radius: 13px;
            width: 100%;
            border: none;
            margin-top: 6rem;
            color: white;
            font-size: 1.2rem;
            font-family: 'gotham-medium';
        }

        button[disabled] {
            border: none;
            background-color: #EA8663;
            color: white;
        }

    }
}