.my-facebook-button {
    display: flex;
    flex-direction: row-reverse;
    background-color: #3b5998;
    padding:0.45rem 0.8rem;
    border: none;
    border-radius: 5px;
    align-items: center;
    font-family: 'graphik-medium';
    font-size: 0.7rem;
    color: white;
    margin: 0.5rem 0;
    gap: 0.5rem;
    line-height: 1;
}

.error-text{
    text-align: center;
    font-size: 0.7rem;
    font-family: 'graphik-regular';
    line-height: 1.4;
    color: #EF2F55;
}