.challenge-staking-header {
    background-color: #F9FBFF;
    color: #072169;

    .backIcon {
        color: #072169;
    }
}

.challenge-staking-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: scroll;
    padding: 2rem 1rem 0 1rem;

    .players-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 13px;
        padding: 15px 20px;
        margin-bottom: 1rem;
        background-color: #FFF;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);

        .versus {
            width: 90px;
            height: 90px;
        }

        .player-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar-container {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: #F6F4FF;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .player-name {
                margin: 0;
                margin-top: 0.8rem;
                font-size: 0.95rem;
                font-family: 'gotham-bold';
                color: #072169;
                // width: 7rem;
                text-align: center;
                word-break: break-all;
                word-wrap: break-word;
            }
        }
    }

    .wallet-container {
        background-color: #fff;
        // margin: 0 18px;
        border-radius: 13px;
        border: 1px solid #E5E5E5;
        padding: 1rem 1.3rem;
        margin-bottom: 1.5rem;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);

        .total-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .total-title-container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .total-title-text {
                    color: #072169;
                    margin: 0;
                    font-family: 'gotham-medium';
                    font-size: 1rem;
                }

                .avatar {
                    width: 1.3rem;
                    height: 1.3rem;
                    margin-right: .5rem;

                }
            }
        }

        .funding-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: .8rem;


            .currency-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                // margin-left: 1.2rem;

                .currency-text {
                    color: #072169;
                    margin: 0;
                    font-family: 'gotham-bold';
                    font-size: 1.2rem;
                    margin-right: .5rem;
                }

                .currency-amount {
                    color: #072169;
                    margin: 0;
                    font-family: 'sansation-regular';
                    font-size: 1.2rem;
                }
            }

            .funding-button {
                display: flex;
                flex-direction: row;
                align-items: center;

                .funding-text {
                    color: #072169;
                    margin: 0;
                    font-family: 'gotham-medium';
                    font-size: .9rem;
                    // word-wrap: break-word;
                }
            }
        }
    }
    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.2rem;
        margin-top: 2.5rem;

        .label-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .6rem;

            .input-label {
                font-size: 1.1rem;
                color: #072169;
                font-family: 'gotham-medium';
                margin: 0;
            }

            .required-text {
                font-size: 1rem;
                color: #E15220;
                font-family: 'sansation-regular';
                margin: 0;
            }

            .show {
                color: #072169;
            }

        }


        .input-box {
            height: 3.5rem;
            color: #072169;
            font-size: 0.95rem;
            font-family: 'sansation-regular';
            border-radius: 14px;
            padding: 0 1rem;
            border: 1px solid #D9D9D9;
            outline: none;
            background-color: #fff;
        }

        .input-boxi {
            height: 3.5rem;
            color: #072169;
            font-size: 0.95rem;
            font-family: 'sansation-regular';
            border-radius: 14px;
            padding: 0.5rem 1rem;
            border: 1px solid #EF2F55;
            outline: none;
            background-color: #fff;
        }

        ::placeholder {
            color: #00000080;
            font-family: 'sansation-regular';
        }


        .input-error {
            color: #EF2F55;
            font-size: 0.8rem;
            margin-top: .5rem;
            font-family: 'sansation-regular';
        }

        .input-error-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: .5rem;


            .input-error {
                color: #EF2F55;
                font-size: 0.8rem;
                font-family: 'sansation-regular';
            }

            .fund-container {
                border: 1.8px solid #072169;
                border-radius: 13px;
                padding: .2rem .8rem;

                .fund {
                    color: #072169;
                    font-size: 0.7rem;
                    margin-top: .5rem;
                    font-family: 'sansation-regular';
                }
            }
        }

    }

    .purchase-boost {
        background-color: #AAD880;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .boost-text {
            font-size: .9rem;
            font-family: 'gotham-bold';
            color: #072169;
            text-align: center;
            line-height: 1.2;
            margin: 0;
        }

        .no-boost {
            font-size: .8rem;
            font-family: 'gotham-medium';
            color: #072169;
            text-align: center;
            line-height: 2;
            margin: 0;
        }

        .boost-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: .6rem 0;

            .boost-card-container {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin: 0 1rem;

                .boost-icon {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                .boost-name {
                    font-family: 'gotham-bold';
                    font-size: 0.85rem;
                    color: #fff;
                    margin: 0;
                }
            }
        }

        .buy-boost-text {
            font-size: .8rem;
            font-family: 'gotham-medium';
            color: #E15220;
            text-align: center;
            line-height: 1;
            text-decoration: underline;
            margin: 0;
            cursor: pointer;
        }
    }
    .button-container {
        background-color: #E15220;
        justify-content: center;
        flex-direction: row;
        display: flex;
        align-items: center;
        padding: .95rem 0;
        border-radius: 13px;
        width: 100%;
        border: none;
        margin-bottom: 1.5rem;

        .button-text {
            color: white;
            font-size: 1.1rem;
            font-family: 'gotham-medium';
            margin: 0;
        }
    

    }
    button[disabled] {
        border: none;
        background-color: #EA8663;
        color: white;
    }
   
}