.global{
    padding: 0 0.7rem;
    margin-bottom: 1%;
    .global-title{
        color: #FFF;
        font-family: 'graphik-medium';
        font-size: 0.9rem;
        line-height: 2;
        text-align: center;
        margin: 1% 0;
    }
    .other-leaders{
        background-color: #FAC502;
    }
    .global-user{
            font-family: 'graphik-bold';
            font-size: 0.66rem;
            color: #535761;
    }
}

