.gameEndedCase{
    min-height: 100vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .game-tag-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .userAvater {
            width: 5rem;
            height: 5rem;
            border-radius: 50px;
            border: 1px solid #072169;
            background-color: #FFF;
        }
    }
    .name-tag-container {
        display: flex;
        align-items: center;
        justify-content: center;
            .user-initials {
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FDCCD4;
                border-radius: 50px;
                font-family: 'gotham-medium';
                font-size: 1.8rem;
                color: #072169;

            }
    }
    .correct-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1.8rem;
        .correct-count {
            color: #FFF;
            font-family: 'graphik-medium';
            font-size: 1.2rem;
            margin: 0;
            // line-height: 2;
        }
    }
   
}