.changePasswordContainer {
    background-color: #FFF;
    padding: 2rem 1.5rem;
    min-height: 100vh;
    overflow: scroll;

    .changePasswordBtn {
        background-color: #E15220;
        justify-content: center;
        flex-direction: row;
        display: flex;
        align-items: center;
        padding: 1.3rem 0;
        border-radius: 13px;
        width: 100%;
        border: none;
        margin-top: 6rem;
        color: white;
        font-size: 1.2rem;
        font-family: 'gotham-medium';
    }

    button[disabled] {
        border: none;
        background-color: #DFCBCF;
        color: white;
    }

    .requirementContainer {
        .bigText {
            font-size: 0.76rem;
            font-family: 'gotham-medium';
            margin: 0;
            color: #1C453B;
            margin-bottom: .7rem;
        }

        .smallText {
            font-size: 0.75rem;
            margin: 0;
            color: #1C453B;
            font-family: 'sansation-regular';
            opacity: 0.5;
        }
    }

    .deleteBtn {
        border: none;
        outline: none;
        background: none;
        color: #EF2F55;
        font-family: 'sansation-regular';
        padding: 0;
        margin-top: 1rem;
    }
}

.deleteContainer {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #fff;
    flex-direction: column;

    .deleteText {
        margin: 0;
        font-family: 'gotham-medium';
        font-size: .9rem;
    }

    .btnCase {
        margin-top: 4rem;
        display: flex;
        gap: 2rem;

        .deleteBtn {
            background-color: #EF2F55;
            border: 1px solid #EF2F55;
            outline: none;
            color: #fff;
            font-family: 'gotham-medium';
            font-size: 0.9rem;
            letter-spacing: 1px;
            border-radius: 8px;
            padding: 1rem 2rem;
        }
    }
}