.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    .inputLabel {
        margin-bottom: .6rem;
        font-size: 0.76rem;
        color: #000000B2;
        font-weight: bold;
    }
    .inputBox {
        color: #00000080;
        font-size: 0.75rem;
        border-radius: 5px;
        padding: 0.5rem .6rem;
        border-width: 1px;
        outline-style: auto;
        outline-color: #CDD4DF;
    }
    ::placeholder {
        color: #00000080;
    }
}