@mixin devices ($breakpoint) {
    @if $breakpoint ==xs {
        @media only screen and (max-width:319px) {
            @content
        }
    }

    @if $breakpoint ==sm {
        @media only screen and (min-width:320px) and (max-width:374px) {
            @content
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (min-width:375px) and (max-width:400px) {
            @content
        }
    }
}

.trivia-main-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 0.8rem;
    width: 100%;
    border-radius: 20px;
    font-family: 'Graphik', sans-serif;
    border-bottom-right-radius: 20px;

    .trivia-container {
        padding: 1rem;
        padding-bottom: 0.9rem;
        display: flex;
        flex-direction: column;

        .trivia-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            .trivia-left {
                .topText {
                    font-size: .85rem;
                    color: #FFFF;
                    opacity: 0.8;
                    font-family: 'graphik-medium';
                    width: 12rem;
                    margin: 0;

                    @include devices(xs) {
                        font-size: 0.7rem;
                    }

                    @include devices(sm) {
                        font-size: 0.8rem;
                    }
                }

                .triviaTitle {
                    font-size: 1.8rem;
                    color: #FFFF;
                    font-family: 'graphik-medium', sans-serif;
                    margin: 0;
                    line-height: 1.7;

                    @include devices(xs) {
                        font-size: 1rem;
                    }

                    @include devices(sm) {
                        font-size: 1.5rem;
                    }
                }

                .triviaTime {
                    font-size: .85rem;
                    color: #FFFF;
                    opacity: 0.8;
                    font-family: 'graphik-medium';
                    margin: 0;
                    margin-bottom: 1.8rem;

                    @include devices(xs) {
                        font-size: 0.7rem;
                    }

                    @include devices(sm) {
                        font-size: 0.75rem;
                    }
                }
            }

            .trivia-right {
                flex-direction: column;
                align-items: flex-end;

                .trivia-required-container {
                    .trivia-required-text {
                        font-size: .8rem;
                        line-height: 0;
                        color: #FFD064;
                        opacity: 0.8;
                        font-family: 'graphik-bold', sans-serif;
                        font-weight: 550;
                        margin-bottom: 1rem;

                        @include devices(xs) {
                            font-size: 0.65rem;
                        }

                        @include devices(sm) {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

        .trivia-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .timer {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.5rem;

                .timerText {
                    font-size: 0.75rem;
                    color: #FFFF;
                    font-family: 'graphik-regular';
                    line-height: 0.7rem;
                    margin: 0.3rem 0;
                    margin-left: 5px;
                }

                .statusText {
                    font-size: 0.75rem;
                    color: #FFFF;
                    font-family: 'graphik-regular';
                    line-height: 0.7rem;
                    margin: 0.3rem 0;

                    @include devices(xs) {
                        font-size: 0.65rem;
                    }

                    @include devices(sm) {
                        font-size: 0.68rem;
                    }
                }
            }

            .yellowImg {
                @include devices(xs) {
                    max-width: 7rem;
                    height: 1.1rem;
                }

                @include devices(sm) {
                    max-width: 8.5rem;
                    height: 1.1rem;
                }
            }

            .eligible-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: .2rem;

                .eligible-text {
                    font-size: .9rem;
                    color: #FFFF;
                    font-family: 'graphik-medium';
                    margin-right: .2rem;
                }
            }

            .ineligible-button {
                flex-direction: row;
                background-color: #FFD064;
                border-radius: 12px;
                border-left-width: 8px;
                border-right-width: 8px;
                // padding: 10px 7px;
                border-color: #C39938;
                align-items: center;
                margin-top: .5rem;
                justify-content: center;
                display: flex;

                .ineligible-text {
                    line-height: 0;
                }
            }

            .triviaButton {
                flex-direction: row;
                background-color: #FFD064;
                border-radius: 12px;
                border-left-width: 8px;
                border-right-width: 8px;
                border-bottom: 0;
                border-color: #C39938;
                align-items: center;
                display: flex;
                padding: 0.3rem 0.19rem;

                .triviaButtonText {
                    line-height: 0.65rem;
                    color: #4F4949;
                    font-family: 'graphik-medium';
                    margin: 0;
                    margin-right: .2rem;
                    font-size: 0.65rem;
                    line-height: 0.65;
                }
            }
        }

    }
}