.trivia-main-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 0 0.5rem;
    width: 100%;
    border-radius: 20px;
    font-family: 'Graphik', sans-serif;
    border-bottom-right-radius: 20px;

    .trivia-container {
        padding: 1.1rem 1rem;
        flex-direction: column;

        .trivia-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .trivia-left {
                .topText {
                    font-size: .85rem;
                    color: #FFFF;
                    opacity: 0.8;
                    font-family: 'graphik-medium';
                    width: 10rem;
                    margin-bottom: 1.8rem;
                    line-height: 0;
                }

                .triviaTitle {
                    font-size: 1.8rem;
                    color: #FFFF;
                    font-family: 'graphik-medium';
                    margin: 1.35rem 0;
                    line-height: 0;
                }

                .triviaTime {
                    font-size: .85rem;
                    color: #FFFF;
                    opacity: 0.8;
                    font-family: 'graphik-medium';
                    margin-bottom: 1rem
                }
            }

            .trivia-right {
                flex-direction: column;
                align-items: flex-end;

                .trivia-required-container {
                    .trivia-required-text {
                        font-size: .8rem;
                        line-height: 0;
                        color: #FFD064;
                        opacity: 0.8;
                        font-family: 'graphik-bold';
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .trivia-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .timer {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.5rem;

                .timerText {
                    font-size: 0.75rem;
                    color: #FFFF;
                    font-family: 'graphik-regular';
                    line-height: 0.7rem;
                    margin-left: 5px;
                }
                .statusText {
                    font-size: 0.75rem;
                    color: #FFFF;
                    font-family: 'graphik-regular';
                    line-height: 0.7rem;
                    margin-left: 5px;
                }
            }
            .eligible-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: .2rem;
                .eligible-text {
                    font-size: .9rem;
                    color: #FFFF;
                    font-family: 'graphik-medium';
                    margin-right: .2rem;
                }
            }
            .ineligible-button {
                flex-direction: row;
                background-color: #FFD064;
                border-radius: 12px;
                border-left-width: 8px;
                border-right-width: 8px;
                // padding: 10px 7px;
                border-color: #C39938;
                align-items: center;
                margin-top: .5rem;
                justify-content: center;
                display: flex;
                .ineligible-text {
                    line-height: 0;
                }
            }
            .triviaButton {
                flex-direction: row;
                background-color: #FFD064;
                border-radius: 12px;
                border-left-width: 8px;
                border-right-width: 8px;
                // padding: 10px 7px;
                border-color: #C39938;
                align-items: center;
                margin-top: .5rem;
                justify-content: center;
                display: flex;
                .triviaButtonText {
                    line-height: 0;
                    color: #4F4949;
                    font-family: 'graphik-medium';
                    margin-right: .2rem;
                }
            }
        }

    }
}