.gameInHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        font-size: 1.5rem;
        margin: 0;
        font-family: 'gotham-bold';
        color: #1C453B;
    }
    .exit-game{
       
        border: none;
        background-color: #FA5F4A;
        border-radius: 30px;
        padding: .2rem .5rem;
        cursor: pointer;
        .exit-text {
            font-size: .75rem;
            color: #F9FBFF;
            font-family: 'gotham-medium';
            margin: 0;
        }
    }
}