.boosts-container {
    font-family: 'Graphik', sans-serif;
    padding: .5rem 1.5rem;

    .boosts-header {
        font-size: 0.85rem;
        font-weight: 500;
    }

    .boosts {
        .boostContent {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 1rem 0;

            .boostAmount {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                .boostIcon {
                    width: 2rem;
                    height: 2rem;
                }

                .amount1 {
                    font-size: 0.6rem;
                    color: #FF932F;
                    font-weight: bold;
                }
            }

            .boostDetails {
                margin-left: 2rem;

                .boostName {
                    margin: 0;
                    font-size: 0.7rem;
                    font-weight: bold;
                    margin-top: .8rem;
                    color: #151C2F;
                }

                .boostDescription {
                    margin: 0;
                    font-size: 0.7rem;
                    margin-top: 5px;
                    font-weight: 400;
                    color: #828282;
                }
            }
        }
    }

    .storeLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.2rem;


        .needBoost {
            font-size: 0.7rem;
            font-weight: 400;
            color: #000000;
            margin-right: 5px;
            margin: 0;

            .storeLink {
                border: none;
                font-size: 0.7rem;
                color: #EF2F55;
                font-weight: 600;
                background: none;

            }
        }
    }

    .start-button {
        width: 100%;
        margin-top: 2rem;
        background-color: #EF2F55;
        border: none;
        border-radius: 8px;
        align-items: center;

        .start-text {
            font-size: 0.8rem;
            font-weight: 600;
            color: #ffff;
            margin: 0;
            padding: .7rem 0;
            text-align: center;
        }
    }
    button[disabled] {
        border: none;
        background-color: #DFCBCF;
        color: white;
    }
}