.nameCase{
    display: flex;
    justify-content: center;
    margin-bottom: 0.4rem;
    .name{
        color:#fff;
        text-align: center;
        font-size: 2.1rem;
        font-family: 'graphik-medium';
        margin: 0;
    }
}