.csbCase{
    padding: 1.5rem;
    .csbImg{
        display: flex;
        justify-content: center;
        img{
            width: 80px;
            height: 80px;
        }
    }
    .csbTextCase{
        display: flex;
        justify-content: center;
        background-color: #518EF8;
        padding: 2rem 3rem;
        margin-top: .8rem;
        margin-bottom: 0.5rem;
        border-radius: 15px;
        opacity: 0.85;
        .csbText{
            margin: 0;
            font-family: 'graphik-medium';
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
            color: #fff;
        }
    }
    .csbBtnCase{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;
        .csbStakeBtn{
        background-color: #EF2F55;
        border: none;
        border-radius: 8px;
        width: 45%;
        font-family: 'graphik-medium';
        font-size: 0.9rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .csbProceedButton{
            background-color: #fff;
            border: 1px solid #EF2F55;
            border-radius: 8px;
            width: 45%;
            font-family: 'graphik-medium';
            font-size: 0.9rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            color: #EF2F55;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
    }
}