.passwordHeader{
    background-color: #fff;
    .icon{
        color: #000;
    }
    .title{
        color: #000;
    }
}

.passwordContainers {
    // height: 100vh;
    padding:0 2rem;
    position: relative;

    h1 {
        text-align: start;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .text {
        font-size: .9rem;
        margin: 1rem 0;
        color: #000000B2;
        font-family: 'graphik-regular';
        line-height: 1.5;
    }

    div {
        .errorBox {
            text-align: center;
            margin: 1rem 0;
            background-color: #F442741A;
            border-radius: 7px;
            color: #EF2F55;
            font-size: 0.7rem;
            padding: .5rem 0;
            display: flex;
            justify-content: center; 
        }
        .inputContainer {
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            .labels {
                font-size: 0.76rem;
                color: #000000B2;
                font-family: 'graphik-medium';
            }
            .phoneContainer {
                border: 1px solid #CDD4DF;
                padding: 0.5rem .6rem;
                border-radius: 7px;
                font-size: 0.75rem;
                font-family: 'graphik-regular';


                .countryCode {
                    border: none;
                    border-right: 1px solid #CDD4DF;
                    width: 2rem;
                    margin-right: .5rem;
                    font-size: 0.7rem;
                    color: #00000080;
                    outline: none;
                    font-family: 'graphik-regular';

                }

                .phoneInput {
                    border: none;
                    outline: none;
                    color: #00000080;
                    font-size: 0.7rem;
                    font-family: 'graphik-regular';

                }

            }
            .phone{
                color: #00000080;
                font-size: 0.75rem;
                width: 100%;
                border-radius: 5px;
                padding: 0.5rem .6rem;
                border: 1px solid #CDD4DF;
                margin-top: 0.3rem;
                outline: none;
                font-family: 'graphik-regular';
            }
            .inputError {
                color: #EF2F55;
                font-size: 0.65rem;
                margin-top: .5rem;
                font-family: 'graphik-regular';
            }
        }
        .btn{
            background-color: #EF2F55;
                justify-content: center;
                display: flex;
                align-items: center;
                padding: 0.6rem 0;
                border-radius: 8px;
                width: 100%;
                border: none;
                color: white;
                font-size: 0.9rem;
                font-weight: bold;
                margin-top: 6rem;
                font-family: 'graphik-medium';
            }
        button[disabled] {
            border: none;
            background-color: #DFCBCF;
            color: white;
        }
    }
}