.passwordContainer {
    height: 100vh;
    padding: 5rem 2rem;
    font-family: 'Graphik', sans-serif;

    h1 {
        text-align: start;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .text {
        font-size: .9rem;
        margin: 1rem 0;
        color: #000000B2;
        font-weight: 400;
        line-height: 1.5;
    }

    div {
        .errorBox {
            text-align: center;
            margin: 1rem 0;
            background-color: #F442741A;
            border-radius: 7px;
            color: #EF2F55;
            font-size: 0.7rem;
            padding: .5rem 0;
            display: flex;
            justify-content: center; 
        }
        .inputContainer {
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            .labels {
                font-size: 0.76rem;
                color: #000000B2;
                font-weight: 600;
            }
            .email{
                color: #00000080;
                font-size: 0.75rem;
                width: 100%;
                border-radius: 5px;
                padding: 0.5rem .6rem;
                border: 1px solid #CDD4DF;
                margin-top: 0.6rem;
                outline: none;
            }
            .inputError {
                color: #EF2F55;
                font-size: 0.65rem;
                margin-top: .5rem;
            }
        }
        .btn{
            background-color: #EF2F55;
                justify-content: center;
                display: flex;
                align-items: center;
                padding: 0.6rem 0;
                border-radius: 8px;
                width: 100%;
                border: none;
                color: white;
                font-size: 0.9rem;
                font-weight: bold;
                margin-top: 6rem;
            }
        button[disabled] {
            border: none;
            background-color: #DFCBCF;
            color: white;
        }
    }
}