.info__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .info__container-image{
        display: flex;
        justify-content: center;
        width: 100%;
        .info__image-main{
            width:200px;
            height: 200px;
            object-fit: contain;
        }
    }
    .info__container-card{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -2rem;
        margin-bottom: 3rem;
        padding: 0 3rem;
        .slider-container{
            width: 100%;
        }
        .info__card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 400px;
            background-color: #F4F3F9;
            padding: 2rem;
            padding-bottom: 4rem;
            .info__card-img-container{
                display: flex;
                justify-content: center;
                .info__card-img{
                    height: 150px;
                    width: 150px;
                    object-fit: contain;
                }
            }
            .info__card-body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .info__card-text-title{
                    font-size: 1.5rem;
                    text-align: center;
                    font-family: 'sansation-bold';
                    color: #0086CD;
                    margin: 0.5rem 0;
                }
                .info__card-text{
                    font-size: 0.8rem;
                    text-align: center;
                    font-family: 'gotham-light';
                    color: #0086CD;
                    line-height: 1.5;
                }
            }
        }
        .info__img-carosel{
            height: 400px;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}