.challenge-progress-boost {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    border-radius: 13px;
    border: 1px solid #E5E5E5;
    margin: 1rem 0;

    .challenge-topic-progress {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #93939336;
        padding: 1rem 1rem;

        .staking-container {
            .stake-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #FA5F4A;
                border-radius: 30px;
                padding: .3rem .8rem;

                .stake-header {
                    font-family: 'gotham-medium';
                    font-size: 0.7rem;
                    color: #FFF;
                }

                .stake-amount {
                    font-family: 'gotham-medium';
                    font-size: 0.7rem;
                    color: #FFF;
                }

            }

            .players-details {
                display: flex;
                flex-direction: row;
                margin-top: 1rem;

                .player-container {
                    background-color: #ccded48c;
                    border-radius: 100px;
                    width: 2.2rem;
                    height: 2.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .avatar-text {
                        color: #1C453B;
                        font-family: 'gotham-medium';
                        font-size: .95rem;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .category-container {
            display: flex;
            flex-direction: column;

            .category-name {
                font-size: 1rem;
                color: #1C453B;
                font-family: 'gotham-bold';
            }

            .questions-answered-container {
                margin-top: .7rem;
                .question-answered {
                    font-size: .85rem;
                    color: #1C453B;
                    font-family: 'gotham-bold';
                    margin: 0;
                    margin-top: 1rem;
                }
            }

        }




    }

    .available-boosts-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .3rem 1rem;

        .boostContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 1.5rem;
            position: relative;
            cursor: pointer;


            .availableBoost {
                padding: .7rem 0;
                display: flex;
                flex-direction: row;

                .boostIcon {
                    width: 51px;
                    height: 51px;
                }

                .boostCount {
                    font-size: .9rem;
                    font-family: 'sansation-bold';
                    color: #fff;
                    margin-top: 1px;
                    position: absolute;
                    top: 15px;
                    right: 5px;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                }
            }

            .boostActive {
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 5px;
                padding: 7px;
            }

            .boostName {
                // width: 4rem;
                margin: 0;
                font-size: 0.65rem;
                color: #fff;
            }
        }
    }

}