.gameProgressBoost {
    display: flex;
    flex-direction: column;
    background-color: #AAD880;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin: 1rem 0;
    padding: 1rem 0;

    .players-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 1rem;
        align-items: center;

        .versus {
            font-size: 'graphik-medium';
            font-size: 0.75rem;
            color: white;
        }

        .player-container {
            display: flex;
            flex-direction: row;
            display: flex;
            align-items: center;

            .player-avatar {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50px;
                background-color: #fff;
            }

            .player-name {
                font-size: 'graphik-medium';
                font-size: 0.75rem;
                color: white;
                margin-left: 2rem;
                // width: 4rem;
            }

            .user-name {
                font-size: 'graphik-medium';
                font-size: 0.75rem;
                color: white;
                margin-right: 2rem;
                // width: 4rem;
            }
        }
    }

    .availableBoosts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .boostInfo {
            display: flex;
            justify-content: center;

            .boostTitle {
                margin: 0;
                font-size: 0.9rem;
                font-family: 'gotham-bold';
                color: #072169;
            }
        }

        .available-boosts-icons {
            display: flex;
            flex-direction: row;
            margin-top: .2rem;

            .boostContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 1rem;
                cursor: pointer;

                .availableBoost {
                    padding: .7rem 0;
                    display: flex;
                    flex-direction: row;

                    .boostIcon {
                        width: 45px;
                        height: 45px;
                    }

                    .boostCount {
                        margin: 0;
                        font-size: 0.85rem;
                        color: #fff;
                        padding: 0;
                        font-family: 'gotham-bold';
                    }
                }

                .boostBlink {
                    display: none;
                }

                .boostActive {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: 5px;
                    padding: 7px;
                }

                .boostName {
                    // width: 4rem;
                    margin: 0;
                    font-size: 0.65rem;
                    color: #fff;
                }
            }
        }


    }
}