.profileLinkContainer{
    padding: 2rem 0;
    font-family: 'Graphik';
    .profileLink{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        padding: 1.1rem 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        .profileLinkLabel{
            font-size: 0.9rem;
            color: #000;
            margin: 0;
        }
        .icon{
            color: #000;
        }
    }
}