.otherLeader-container{
    background-image: linear-gradient(#701F88, #752A00);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #737575;
    margin-bottom: 1.5rem;
    border-radius: 18px;

    .avatar-case{
        display: flex;
        align-items: center;
    }
    .avatar-container{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        .avatar{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .user-points{
        display: flex;
        flex-direction: column;
        margin-left: 0.3rem;
        .user{
            margin: 0;
            font-size: 0.75rem;
            font-family: 'graphik-medium';
            color: #fff;
        }
        .points{
            margin: 0;
            font-size: 0.55rem;
            font-family: 'graphik-medium';
            color: #fff;
            margin-top: 0.25rem;
        }
    }
    .rank-case{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #EF2F55;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .rank{
            margin: 0;
            font-size: 0.7rem;
            font-family: 'graphik-medium';
            color: #fff;
        }
    }
}