.dashboard-screen {
    min-height: 100vh;
    height: 100vh;
    overflow: scroll;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .dashboard-content {
        padding: 0.1rem 1.5rem;
    }
}

.main-leaderBoards-container {
    margin: 1.3rem 0;
    padding: 0 1.5rem;

    .leaderBoard-containers {
        display: flex;
        overflow: scroll;
        align-items: baseline;
        gap: 1rem;
    }

    .leaderBoard-containers::-webkit-scrollbar {
        display: none;
    }
}