.header {    
    background-color: #5d5fef;
    color: #ffff;
    .backIcon {
        color: #ffff;
    }
}
.selectGameContainer {
    height: 100vh;
    font-family: 'Graphik', sans-serif;
    background-color: #5d5fef;
}