@mixin devices ($breakpoint){
    @if $breakpoint == sm {
        @media only screen and (max-width:374px){
            @content
        }
    }

    @if $breakpoint == mobile {
        @media only screen and (min-width:375px) and (max-width:400px){
            @content
        }
    }
}


.background-color {
    background-color: #072169;
}

.triviaHeader{
    background-color: #072169;
    color: #FFFF;
    .icon {
        color: #FFFF;
    }
}

.trivias-container {
    background-color: #072169;
    padding: 1rem 2rem;
    @include devices(sm){
        padding: 1.5rem;
    }
    @include devices(mobile){
        padding: 1.5rem;
    }
}