.background-color {
    background-color: #072169;
}

.triviaHeader{
    background-color: #072169;
    color: #FFFF;
    .icon {
        color: #FFFF;
    }
}

.trivias-container {
    background-color: #072169;
    padding: 1rem 2rem;
}