.fund-main-Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .fund-Container {
        overflow-x: hidden;
        margin-top: 3rem;

        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.2rem;

            .label-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .6rem;

                .input-label {
                    font-size: 1.1rem;
                    color: #1C453B;
                    font-family: 'gotham-medium';
                    margin: 0;
                }

                .required-text {
                    font-size: 1rem;
                    color: #E15220;
                    font-family: 'sansation-regular';
                    margin: 0;
                }

                .show {
                    color: #1C453B;
                }

            }

            .input-error {
                color: #EF2F55;
                font-size: .85rem;
                margin-top: .5rem;
                font-family: 'sansation-regular';
            }


            .input-box {
                height: 3.5rem;
                color: #1C453B;
                font-size: 0.95rem;
                font-family: 'sansation-regular';
                border-radius: 14px;
                padding: 0.5rem 1rem;
                border: 1px solid #D9D9D9;
                outline: none;
                background-color: #fff;
            }

            .input-boxi {
                height: 3.5rem;
                color: #1C453B;
                font-size: 0.95rem;
                font-family: 'sansation-regular';
                border-radius: 14px;
                padding: 0.5rem 1rem;
                border: 1px solid #EF2F55;
                outline: none;
                background-color: #fff;
            }

            ::placeholder {
                color: #00000080;
                font-family: 'sansation-regular';
            }

        }

        .gateways-container {
            margin-top: 2rem;
            cursor: pointer;

            .label-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .6rem;

                .gateway-header-text {
                    font-size: 1.1rem;
                    color: #1C453B;
                    font-family: 'gotham-medium';
                    margin: 0;
                }

                .required-text {
                    font-size: 1rem;
                    color: #E15220;
                    font-family: 'sansation-regular';
                    margin: 0;
                }
            }

            .gateway-sub-header {
                font-size: 1rem;
                color: #1C453B;
                font-family: 'sansation-regular';
                margin-top: 1rem;
                opacity: 0.5;
                margin-bottom: 2rem;
            }

            .main-gateway-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .gateway-container {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .gateway-icon {
                        margin-left: .5rem;
                    }
                }
            }
        }
    }

    .fund-button-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .actionBtnContainer {
            display: flex;
            justify-content: center;
            border-radius: 12px;
            cursor: pointer;
            background-color: #ef2f55;
            border: none;
            width: 100%;

            .text {
                line-height: 1;
                letter-spacing: 0.25;
                color: #fff;
                font-size: 0.9rem;
                font-weight: 500;
            }

        }

        button[disabled] {
            border: none;
            background-color: #DFCBCF;
            color: white;
        }
    }
}