.heroBanner{
    background-color: #072169;
    padding:0.1rem 1.5rem;
    padding-bottom: .5rem;
    color: #fff;
    .heroWallet{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        p{
            margin: 0;
            font-size: 1.2rem;
            font-family: 'graphik-medium', sans-serif;
        }
    }
}