.heroBanner{
    margin: .8rem 0;
    color: #fff;
    .heroWallet{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        p{
            margin: 0;
            font-size: 1.2rem;
            font-family: 'graphik-medium', sans-serif;
        }
    }
}