.final-score-case {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-direction: column;
    background-color: #F9E821;
    border-radius: 15px;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    padding: 0.8rem 1.5rem;
    justify-content: center;
    align-items: center;
    .point-text {
        font-size: 1rem;
        font-family: 'graphik-medium'; 
        color: #9236AD;
        margin: 0;
        line-height: 2;
    }
    .point-number {
        font-size: 1.5rem;
        font-family: 'graphik-bold'; 
        color: #9236AD;
        margin: 0;
        line-height: 2;
    }

    .sub-containers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 12px;

        .finalScoreText {
            margin: 0;
            color: #FFF;
            font-size: 0.9rem;
            font-family: 'graphik-medium';
        }

        .score {
            color: #FFF;
            font-size: 0.8rem;
            font-family: 'graphik-medium';
            margin: 0;
        }
    }

    .score-button-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .score-button {
            background-color: #EF2F55;
            border: none;
            color: #FFF;
            font-size: 0.8rem;
            font-family: 'graphik-medium';
            padding: .3rem 3rem;
            border-radius: 15px;
        }
    }

}