.contactUs-header{
    background-color: #fff;
}

.contactUs-container{
    padding: 1.5rem 1rem;
    .title{
        margin: 0;
        font-size: 0.95rem;
        font-family: 'graphik-medium';
        margin-top: 0.7rem;
    }
}