.contactUs-header {
    // background-color: #fff;
    color: #1C453B;
    .contact-back {
        color: #1C453B;
    }
}

.contactUs-container {
    padding: 1.5rem;

    .title-question {
        margin: 0;
        font-size: 0.95rem;
        font-family: 'gotham-medium';
        margin-top: 0.7rem;
        color: #1C453B;
    }

    .whatsapp-chat {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        background-color: #FFF;
        border-radius: 13px;
        border: 1px solid #E5E5E5;
        padding: .7rem .5rem;
        align-items: center;
        margin-top: 2.5rem;
        .text-container {
            margin-left: 5px;
            .header-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .header {
                    font-size: 1rem;
                    font-family: 'gotham-bold';
                    color: #1C453B;
                }
            }
            .whatsapp-title {
                font-size: 0.9rem;
                font-family: 'sansation-regular';
                color: #1C453B;
                margin-top: 5px;
            }
        }
    }

}