.store-header {
    color: #1C453B;

    .back {
        color: #1C453B;
    }
}
.storeContainer{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 1.5rem 1rem;
}