.store-header {
    background-color: #ffff;
    color: #072169;

    .back {
        color: #072169;
    }
}
.storeContainer{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 1.5rem 1rem;
}