.rdrDefinedRangesWrapper{
    display: none;
}

.date-container{
    .rdrDateRangePickerWrapper{
        display: flex;
        width: 100%;
    }
    .rdrCalendarWrapper{
        width: 100%;
    }
    .rdrMonth{
        width: 100%;
    }
    .rdrDateDisplayItem input{
        display: none;
        height: 0;
    }
}