.primary-button {
    background-color: #FA5F4A;
    border-radius: 30px;
    padding: .5rem .9rem;
    color: #FFF;
    font-size: .9rem;
    margin: 0;
    font-family: 'gotham-medium';
    border: none;
    cursor: pointer;
}