.detailContainer{
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .detailCase{
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
        .text{
            font-size: 0.75rem;
            margin: 0;
            font-weight: 450;
            color: #757575;
            opacity: 0.8;
        }
        .value{
            font-size: 0.75rem;
            margin: 0;
            font-weight: 450;
            color: #151C2F;
            text-transform: capitalize;
        }
    }
}