@mixin devices ($breakpoint){
    @if $breakpoint == sm {
        @media only screen and (max-width:374px){
            @content
        }
    }
}

.gameContainer {
    padding: 0 1.5rem;
    font-weight: 500;
    font-size: 0.85rem;
    font-family: 'Graphik', sans-serif;

    .gameTitle {
        font-size: 1rem;
        font-family: 'graphik-medium';
        margin-bottom: 10px;
    }

    .gameCardContainer {
        display: flex;
        align-items: center;
        overflow-x: scroll;

        .gameCard {
            min-width: 132px;
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: #701F88;
            color: #fff;
            margin-right: .7rem;
            cursor: pointer;
            @include devices(sm){
                max-width: 100px;
            }
            .card-top-row{
                padding: 1rem 0.8rem;
            .categoryCardTopRow {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;

                .cardIcon {
                    width: 55px;
                    height: 55px;
                    border-radius: 5px;
                    object-fit: cover;
                }
            }
            
            .cardTitle {
                font-size: 0.87rem;
                text-transform: uppercase;
                margin: 6px 0;
                font-family: 'graphik-bold';
            }

            .cardInstruction {
                font-size: 0.68rem;
                font-family: 'graphik-regular';
                margin: 6px 0;
            }
        }

            .circleContainer {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                .cardCircle {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: #EF2F55;
                }
            }
            .action-btn-container{
                border-top: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0;
                margin-top: 0.75rem;
                .action-btn-text{
                    margin: 0;
                    font-size: 0.6rem;
                    font-family: 'graphik-regular';
                    color:#fff
                }
            }
            .action-btn-container1{
                border-top: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0;
                .action-btn-text{
                    margin: 0;
                    font-size: 0.6rem;
                    font-family: 'graphik-regular';
                    color:#fff
                }
            }
        }
    }

    .gameCardContainer::-webkit-scrollbar{
        display: none;
    }

    .gameBtn {
        margin: 2rem 0;
        background-color: #EF2F55;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0.8rem 0;
        border-radius: 8px;
        width: 100%;
        border: none;
        color: white;
        font-size: 0.9rem;
        font-family: 'graphik-medium';
    }
}
