.transactionLink{
    margin: 0 2rem;
    .link{
        color: #ef2f55;
        text-decoration: none;
        font-weight: 530;
    }
    .transactionBtn{
        background-color: #FFE900;
        opacity: 0.8;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1.5rem;
        .transactionText{
            color: #ef2f55;
            font-size: 0.75rem;
            font-weight: 530;
        }
        .icon{
            color: #ef2f55;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}