.games-header {
    background-color: #ffff;
    color: #072169;

    .games-back {
        color: #072169;
    }
}

.games-list-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 1.2rem;
    // align-items: center;

    .games-container {
        display: flex;
        flex-direction: row;

        .trivia-staking-container {
            display: flex;
            background-color: #ECF7FF;
            padding: 2rem 1rem;
            align-items: center;
            border-radius: 13px;
            justify-content: flex-end;
            margin-bottom: 1rem;
            width: 10rem;
            border: 2px solid #4FAAFD;
            flex-direction: column;
            height: 150px;
            min-height: 150px;


            .avatar-container {
                .avatar {
                    width: 5rem;
                    height: 5rem;
                }
            }

            .title {
                font-size: 1.1rem;
                color: #072169;
                font-family: 'sansation-bold';
                margin: 20px 0;
                text-align: center;
            }

            .play-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .4rem 1rem;
                border-radius: 20px;
                background-color: #4FAAFD;
                border: none;
                color: #fff;
                font-size: .95rem;
                font-family: 'sansation-bold';
            }
        }

        .card-container {
            display: flex;
            background-color: #FDCCD4;
            border: 2px solid #EF2F55;
            padding: 2rem 1rem;
            align-items: center;
            border-radius: 13px;
            justify-content: flex-end;
            margin-bottom: 1rem;
            width: 10rem;
            flex-direction: column;
            height: 150px;
            min-height: 150px;

            .avatar-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .avatar {
                    width: 3rem;
                    height: 3rem;
                    border: 2px solid #fff;
                    border-radius: 50px;
                }

                .versus {
                    width: 2rem;
                    height: 3rem;
                    margin: 0 .7rem;
                }
            }

            .title {
                font-size: 1.1rem;
                color: #fff;
                font-family: 'sansation-bold';
                margin: 20px 0;
                text-align: center;
            }

            .play-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .4rem 1rem;
                border-radius: 20px;
                background-color: #EF2F55;
                border: none;
                color: #fff;
                font-size: .95rem;
                font-family: 'sansation-bold';
            }
        }
    }
}