.games-header {
    background-color: #ffff;
    color: #072169;

    .games-back {
        color: #072169;
    }
}

.games-list-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 2rem;

    .main-games-container {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        margin-bottom: 1rem;

        .trivia-bet-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            margin-bottom: 1.5rem;

            .image-container {
                width: 106px;
                height: 106px;
                border: 1px solid #EBFAED;
                border-radius: 50%;
                background-color: #E5E5E5;
                display: flex;
                justify-content: center;
                align-items: center;

                .game-icon {
                    height: 3.9rem;
                    border-top-left-radius: 13px;
                    border-top-right-radius: 13px;
                }
            }

            .game-mode-desc {
                margin: 0;
                color: #072169;
                font-size: 1rem;
                margin: 0.7rem 0;
                font-family: 'sansation-bold';
            }

            .play-btn {
                background-color: #E15220;
                border: none;
                border-radius: 20px;
                padding: .4rem 1rem;

                .play-button-text {
                    color: #E3ECF2;
                    font-size: .7rem;
                    margin: 0;
                    font-family: 'sansation-bold';
                }
            }
        }

        .main-games-container::-webkit-scrollbar {
            display: none;
        }
    }
}