.landingBanner {
    padding: 0 2rem;
    position: relative;
    .banner__container-img{
        display: flex;
        justify-content: center;
        .banner__image{
            width:100%
        }
    }
    .banner__container-question{
        border: 1px solid #E25C2E;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        .banner__text-title{
            color: #0086CD;
            font-family: 'gotham-medium';
            font-size: 0.8rem; 
            text-align: center;
        }
        .banner__container-answer{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .banner__answer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;
                .banner__icon{
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
                .banner__text{
                    font-size: 0.4rem;
                    font-family: 'gotham-bold';
                    text-align: center;
                }
                .banner__text-small{
                    font-size: 0.4rem;
                    font-family: 'gotham-light';
                    text-align: center;
                }
            }
        }
    }
    // .banner__image-bg {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     object-fit: contain;
    //     width: 70%;
    //     opacity: 0.3;
    // }

}

p{
    margin: 0;
}