.landingBanner {
    padding: 0 2rem;
    position: relative;

    .banner__container-img {
        display: flex;
        justify-content: center;

        .banner__image {
            width: 100%;

            @media screen and (min-width: 280px) and (max-width: 600px) {
                display: none;
            }
        }

        .mobile_banner_image {
            display: none;

            @media screen and (min-width: 280px) and (max-width: 600px) {
                display: flex;
                height: 250px;
                width:280px;
                margin: 70px;
            }
        }
    }

    .banner__container-question {
    
        .banner__text-title {
            color: #0086CD;
            font-family: 'gotham-medium';
            font-size: 0.8rem;
            text-align: center;
        }

        .banner__container-answer {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .why_play_desktop{
                width: 850px;

                @media screen and (min-width: 280px) and (max-width: 600px) {
                    display: none;
                }
            }
            .why_play_mobile{
                display: none;
                @media screen and (min-width: 280px) and (max-width: 600px) {
                    display: flex;
                    width: 20rem;
                }
            }
       
        }
    }

}

p {
    margin: 0;
}