.support-background-color {
    background-color: #fff;
}
.supportHeader{
    background-color: #fff;
}

.supportContainer{
    background-color: #fff;
    padding: 1.5rem;
    min-height: 100vh;
    .supportTitle{
        margin: 0;
        font-size: 0.95rem;
        font-family: 'graphik-medium';
        margin-top: .9rem;
    }
    .profileTabs{
        padding: 1.5rem 0;
    }
}

.tabsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.1rem 0;
    cursor: pointer;
    .tabText{
        font-size: 0.85rem;
        font-family: 'graphik-regular';
        color: #151C2F;
        line-height: 2;
        width: 17.5rem;
    }
}