

.detailsContainer{
    height: 100vh;
    background-color: #F9FBFF;
    padding: 2rem 1rem;
    .dQuestion{
        font-family: 'gotham-medium';
        font-size: 0.9rem;
        color: #1C453B;
        margin:1.1rem 0;
        line-height: 1.6;
    }
    .dAnswer{
        font-family: 'sansation-regular';
        font-size: 0.9rem;
        color: #1C453B;        
        margin:1.3rem 0;
        line-height: 1.7;
    }
}