.gameBtnCase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
    flex-direction: column;
    padding: 0 2rem;

    .gameBtn {
        background-color: #E05C28;
        border: none;
        border-radius: 8px;
        width: 100%;
        padding: 0.95rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        cursor: pointer;

        .gameText {
            color: #fff;
            font-size: 1.3rem;
            font-family: 'gotham-medium';
        }
    }
    .homeBtn {
        border: 1px solid #FFFF;
        background: transparent;
        border: 1.8px solid #1C453B;
        border-radius: 13px;        
        width: 100%;
        padding: 0.95rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.3rem;
        cursor: pointer;

        .gameText {
            color: #1C453B;
            font-size: 1.3rem;
            font-family: 'gotham-medium';
        }
    }
}