.cash-header {
    color: #1C453B;

    .backIcon {
        color: #1C453B;
    }
}

.cashdrop-container {
    min-height: 100vh;
    padding: 2rem 1.2rem;
    overflow: scroll;

    .drop-info-text {
        color: #1C453B;
        font-size: 1.02rem;
        margin: 0;
        font-family: 'sansation-regular';
        text-align: center;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

    .drops-container {
        display: flex;
        flex-direction: column;

        .drop-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: .7rem 1rem 1.1rem 1rem;
            border-radius: 13px;
            margin-bottom: .7rem;
            border: 1px solid #E5E5E5;


            .badge-container {
                background-color: #FFF;
                border-radius: 100px;
                padding: .2rem;
                position: relative;
                width: 3.3rem;
                height: 3.3rem;

                .badge-avatar {
                    width: 3.7rem;
                    height: 3.7rem;
                    position: absolute;
                    top: .3rem;
                    right: -3px;
                }
            }

            .drop-details {
                display: flex;
                flex-direction: column;

                .drop-name {
                    color: #1C453B;
                    font-family: 'gotham-medium';
                    font-size: .95rem;
                }

                .amount-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: .2rem;


                    .amount-digit {
                        color: #1C453B;
                        font-family: 'sansation-bold';
                        font-size: .95rem;
                        margin-right: .2rem;
                    }

                    .amount-currency {
                        color: #1C453B;
                        font-family: 'sansation-regular';
                        font-size: .75rem;
                    }
                }
            }

            .stake-container {
                background-color: #FA5F4A;
                border-radius: 30px;
                padding: .2rem .4rem;
                display: flex;
                align-items: center;

                .stake-text {
                    color: #F9FBFF;
                    font-family: 'gotham-medium';
                    font-size: .6rem;
                }
            }
        }
    }

    .winners-header {
        color: #1C453B;
        font-family: 'gotham-bold';
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: .8rem;
    }
    .winners-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1.2rem;

        .winner-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 33.3%;
            box-sizing: border-box;
            margin-bottom: 1.1rem;
            .winner-avatar {
                width: 4rem;
                height: 4rem;
                border-radius: 100px;
                border: 1px solid #E5E5E5;
            }
            .badge-avatar {
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                top: 2.5rem;
            }
            .winner-names {
                margin-top: .9rem;
                background-color: #FA5F4A;
                border-radius: 30px;
                padding: .2rem .4rem;
                display: flex;
                align-items: center;
                .winner-fullname {
                    color: #F9FBFF;
                    font-family: 'gotham-medium';
                    font-size: .6rem;
                }

            }
        }
    }
}