.signupContainer {
    padding: 5rem 1.8rem;
    font-family: 'Graphik';

    .socialLinkContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .socialLinkText {
            color: #00000080;
            font-size: 0.87rem;
            line-height: 0;
        }
    }

    .formContainer {
        margin-top: 3.5rem;

        .inputsContainer {
            .inputContainer {
                display: flex;
                flex-direction: column;
                margin-bottom: 1.3rem;

                .inputLabel {
                    margin-bottom: .45rem;
                    font-size: 0.76rem;
                    color: #000000B2;
                    font-weight: 500;
                }

                .inputBox {
                    color: #00000080;
                    font-size: 0.75rem;
                    border-radius: 5px;
                    padding: 0.5rem .6rem;
                    border: 1px solid #CDD4DF;
                    outline: none;
                }

                ::placeholder {
                    color: #00000080;
                }

                .phoneContainer {
                    border: 1px solid #CDD4DF;
                    padding: 0.5rem .6rem;
                    border-radius: 5px;
                    font-size: 0.75rem;

                    .countryCode {
                        border: none;
                        border-right: 1px solid #CDD4DF;
                        width: 2rem;
                        margin-right: .5rem;
                        font-size: 0.75rem;
                        outline: none;
                    }

                    .phoneInput {
                        border: none;
                        outline: none;
                        font-size: 0.75rem;
                    }

                }

                .inputError {
                    color: #EF2F55;
                    font-size: 0.65rem;
                    margin-top: .5rem;
                }

                .passInput {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-radius: 5px;
                    padding: 0.5rem 0.6rem;
                    border-width: 1px;
                    font-size: 0.75rem;
                    border: 1px solid #CDD4DF;

                    .passwordInput {
                        border: none;
                        outline: none;
                        color: #00000080;
                        font-size: 0.75rem;
                    }

                    .show {
                        color: #00000080;
                    }

                    ::placeholder {
                        color: #00000080;
                    }
                }
            }

            .agreementsContainer {
                display: flex;
                align-items: center;

                .agreementsCheckbox {
                    border-width: 1px;
                    outline-style: auto;
                    outline-color: #CDD4DF;
                }

                .agreementsTextContainer {
                    .agreementsText {
                        color: black;
                        font-size: 0.85rem;
                        font-weight: 400;
                    }

                    .agreementsLink {
                        color: #EF2F55;
                        font-size: 0.85rem;
                        font-weight: 400;
                        margin: 0 5px;
                        text-decoration: none;
                    }
                }
            }

            .appButtonContainer {
                .buttonContainer {
                    margin-top: 3rem;
                    background-color: #EF2F55;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    padding: 0.6rem 0;
                    border-radius: 8px;
                    width: 100%;
                    border: none;

                    .buttonText {
                        color: white;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }

                }

                button[disabled] {
                    border: none;
                    background-color: #DFCBCF;
                    color: white;
                }
            }
        }
    }
}