.signupContainer {
    padding: 2rem 1rem;

    .headerTitle {
        margin-top: 3.5rem;
    }

    .socialLinkContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .socialLinkText {
            color: #00000080;
            font-size: 0.87rem;
            line-height: 0;
            font-family: 'graphik-medium';
        }
    }

    .formContainer {
        margin-top: 3.5rem;

        .inputsContainer {
            position: relative;

            .inputContainer {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;

                .inputLabel {
                    margin-bottom: .45rem;
                    font-size: 0.7rem;
                    color: #000000B2;
                    font-family: 'graphik-medium';
                }

                .inputBox {
                    color: #00000080;
                    font-size: 0.7rem;
                    border-radius: 7px;
                    padding: 0.5rem .6rem;
                    border: 1px solid #CDD4DF;
                    outline: none;
                    font-family: 'graphik-regular';
                }

                ::placeholder {
                    color: #00000080;
                }

                .phoneContainer {
                    border: 1px solid #CDD4DF;
                    padding: 0.5rem .6rem;
                    border-radius: 7px;
                    font-size: 0.75rem;
                    font-family: 'graphik-regular';


                    .countryCode {
                        border: none;
                        border-right: 1px solid #CDD4DF;
                        width: 2rem;
                        margin-right: .5rem;
                        font-size: 0.7rem;
                        color: #00000080;
                        outline: none;
                        font-family: 'graphik-regular';

                    }

                    .phoneInput {
                        border: none;
                        outline: none;
                        color: #00000080;
                        font-size: 0.7rem;
                        font-family: 'graphik-regular';

                    }

                }

                .inputError {
                    color: #EF2F55;
                    font-size: 0.65rem;
                    margin-top: .5rem;
                    font-family: 'graphik-regular';
                }

                .passInput {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-radius: 7px;
                    padding: 0.5rem 0.6rem;
                    font-size: 0.75rem;
                    border: 1px solid #CDD4DF;

                    .passwordInput {
                        border: none;
                        outline: none;
                        color: #00000080;
                        font-size: 0.75rem;
                        font-family: 'graphik-regular';

                    }

                    .show {
                        color: #00000080;
                    }

                    ::placeholder {
                        color: #00000080;
                    }
                }

            }

            .agreementsContainer {
                display: flex;
                align-items: flex-start;
                margin-top: 1.7rem;

                .agreementsCheckbox {
                    border: 1px solid #CDD4DF;
                }

                .agreementsTextContainer {
                    .agreementsText {
                        color: black;
                        font-family: 'graphik-regular';
                        font-size: 0.8rem;
                    }

                    .agreementsLink {
                        color: #EF2F55;
                        font-size: 0.8rem;
                        font-family: 'graphik-regular';
                        margin: 0 5px;
                        text-decoration: none;
                    }
                }
            }

            .appButtonContainer {
                margin-bottom: 1.7rem;

                .buttonContainer {
                    margin-top: 3rem;
                    background-color: #EF2F55;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    padding: 0.6rem 0;
                    border-radius: 8px;
                    width: 100%;
                    border: none;

                    .buttonText {
                        color: white;
                        font-size: 0.9rem;
                        font-family: 'graphik-medium';
                    }

                }

                button[disabled] {
                    border: none;
                    background-color: #DFCBCF;
                    color: white;
                }
            }

            .have-account {
                font-size: 0.87rem;
                font-family: 'graphik-medium';
                text-align: center;
                color: #00000080;
            }

            .sign-in {
                text-decoration: none;
                color: #EF2F55;
                font-family: 'graphik-medium';
                font-size: 0.85rem;
            }

            .contact-us {
                display: flex;
                text-align: center;
                font-size: 0.75rem;
                color: #EF2F55;
                justify-content: center;
                text-decoration: none;
                cursor: pointer;
                font-family: 'graphik-medium';
            }
        }
    }
}