.userPoints {
    background-color: #1E5092;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 0.9rem 0.5rem;
    border-radius: 8px;
    font-family: 'Graphik', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;

    .pointsNumber {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #15292F;
        font-size: 0.7rem;
        height: 75px;
        width: 75px;
        // padding: 0 1rem;
        justify-content: center;
        border-radius: 50%;
        font-family: 'graphik-medium';

        p {
            margin: 0.02rem 0;
            text-align: center;
        }
    }

    .user-boosts {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        display: flex;
        flex-grow: 1;
        background-color: #15292F;
        padding: 0 .8rem 0 .8rem;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        .text2 {
            font-size: 0.7rem;
            text-align: center;

        }

        .emptyRow {
            font-size: 0.7rem;
            text-align: center;

        }

        // .boosts-square {
        //     background-color: #15292F;
        //     padding: 0 .8rem 0 .8rem;
        //     border-top-left-radius: 30px;
        //     border-bottom-left-radius: 30px;


        //     .text2 {
        //         font-size: 0.7rem;
        //         text-align: center;

        //     }

        //     .emptyRow {
        //         font-size: 0.7rem;
        //         text-align: center;

        //     }
        // }

        .arrow-right {
            width: 0;
            height: 0;
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;

            border-left: 35px solid #15292F;
        }

        .boosts-arrow {
            width: 44px;
            height: 44px;
            content: '';
            border: 2px solid #15292F;
            transform: rotate(45deg);
            margin-left: -18px;
            background-color: #15292F;

        }
    }

    .trophy {
        margin-top: -2rem;
        // height: 100px;
        width: 100px;
        z-index: 1;
    }
}