.userPoints{
    background-color: #518ef8;
    padding: 0.9rem 0.5rem;
    border-radius: 8px;
    font-family: 'Graphik', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    .pointsNumber{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #072169;
        font-size: 0.7rem;
        height: 75px;
        width: 75px;
        padding: 0 1rem;
        justify-content: center;
        border-radius: 50%;
        font-family: 'graphik-medium';

        p{
            margin: 0.02rem 0;
            text-align: center;
        }
    }
    .trophy{
        margin-top: -2rem;
        height: 100px;
        z-index: 1;
    }
}
