.verify-header {
    .icon {
        color: #072169;
    }

    .title {
        color: #072169;
    }
}

.verification-phone-container {
    // height: 100vh;
    background-color: #F9FBFF;
    min-height: 100vh;
    padding: 2rem 1.2rem;

    .text {
        font-size: 1.3rem;
        margin-top: 5rem;
        color: #072169;
        font-family: 'gotham-medium';
        line-height: 1.5;
    }

    .expire-container {
        margin-top: 2rem;

        .digit-text {
            margin: 0;
            font-family: 'sansation-bold';
            color: #072169;
            font-size: 1rem;
        }
    }

    .button-container {
        background-color: #E15220;
        justify-content: center;
        flex-direction: row;
        display: flex;
        align-items: center;
        padding: 1.3rem 0;
        border-radius: 13px;
        width: 100%;
        border: none;
        margin-top: 2.5rem;
        margin-bottom: 2rem;

        .buttonText {
            color: white;
            font-size: 1.2rem;
            font-family: 'gotham-medium';
        }

    }

    button[disabled] {
        border: none;
        background-color: #EA8663;
        color: white;
    }

}