@mixin devices ($breakpoint) {
    @if $breakpoint ==sm {
        @media only screen and (max-width:374px) {
            @content
        }
    }
}

.weekly-challengers-container {
    width: 100%;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.5rem;

        .viewMore-text {
            margin: 0;
            margin-bottom: 0.2rem;
            font-size: 0.7rem;
            font-family: 'graphik-medium';
            color: #EF2F55;
            cursor: pointer;
        }

        .topChallengeTitle {
            margin: 0;
            font-size: .8rem;
            font-family: 'graphik-bold';
            margin-bottom: 0.3rem;
        }
    }

    .topChallenge-cover {
        background-image: linear-gradient(#EF2F55, #5D5FEF);
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: .5rem 0.9rem 0 0.9rem;
        width: 100%;
        position: relative;
        .modal-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .modal-date {
                font-size: .6rem;
                font-family: 'graphik-medium';
                color: #FFF;
            }
            .view-text {
                display: flex;
                justify-content: flex-end;
            }
        }

        .topChallengerContainer {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding-top: 0.4rem;

            .others {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: -4rem;

                .other-avatar-case {
                    width: 2.5rem;
                    height: 2.5rem;
                    background-color: #ffff;
                    border-radius: 50%;

                    .otherAvatar {
                        width: 2.5rem;
                        height: 2.5rem;
                        background-color: #ffff;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

            }

            .stage {
                height: 88px;
                width: 88px;
            }

            .winner-stage {
                height: 98px;
                width: 98px;
            }

            .winner {
                display: flex;
                flex-direction: column;
                align-items: center;

                .winner-avatar-case {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: #ffff;

                    .avatar {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        background-color: #ffff;
                        object-fit: cover;
                    }
                }
            }

            .weekly-position-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .leaderName {
                    font-size: .65rem;
                    font-family: 'graphik-medium';
                    margin: 3px;
                    color: #Fff;
                }

                .leader-points {
                    font-size: .65rem;
                    font-family: 'graphik-medium';
                    margin: 1px;
                    color: #Fff;
                }

            }
        }
        .btn-case{
            width: 100%;
            display: flex;
            justify-content: center;
        .plays-btn{
            width: 100%;
            text-align: center;
            font-size: 0.6rem;
            font-family: 'graphik-medium';
            padding:0.1rem 0.5rem;
            background: transparent;
            color: #fff;
            border: 1.5px solid #fff;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            margin: 0.5rem;
            line-height: 1.5;
        }
    }
    }
}