.password-header {
    .icon {
        color: #1C453B;
    }

    .title {
        color: #1C453B;
    }
}

.wallet-screen-container {
    // height: 100vh;
    background-color: #F9FBFF;
    min-height: 100vh;
    padding: 2rem 1.2rem;
    overflow: scroll;

    .wallets-buttton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;

        .wallets {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #EFF2F6;
            border-radius: 35px;
            padding: .4rem .7rem;

            .wallet-button {
                background-color: #E15220;
                border-radius: 35px;
                padding: .3rem .9rem;
                cursor: pointer;

                .wallet-text {
                    margin: 0;
                    font-family: 'gotham-medium';
                    color: #fff;
                    font-size: .9rem;
                }

                .inactive-wallet-text {
                    color: #535761;
                    margin: 0;
                    font-family: 'gotham-medium';
                    opacity: 0.5;
                    font-size: .9rem;
                    margin-right: .5rem;
                }
            }

            .bonuswallet-button {
                background-color: #E15220;
                border-radius: 35px;
                padding: .3rem .4rem;
                margin-left: .5rem;
                cursor: pointer;

                .wallet-text {
                    margin: 0;
                    font-family: 'gotham-medium';
                    color: #fff;
                    font-size: .9rem;
                }

                .inactive-wallet-text {
                    color: #535761;
                    margin: 0;
                    font-family: 'gotham-medium';
                    opacity: 0.5;
                    font-size: .9rem;
                    margin-right: .5rem;
                }
            }

            .inactive-wallet-button {
                cursor: pointer;
                .inactive-wallet-text {
                    color: #535761;
                    margin: 0;
                    font-family: 'gotham-medium';
                    opacity: 0.5;
                    font-size: .9rem;
                    margin-right: .5rem;
                }
            }

            .inactive-bonus-wallet-text {
                cursor: pointer;
                .inactive-wallet-text {
                    color: #535761;
                    margin: 0;
                    font-family: 'gotham-medium';
                    opacity: 0.5;
                    font-size: .9rem;
                    margin-left: .5rem;
                }
            }
        }
    }

    .details-container {
        background-color: #fff;
        // margin: 0 18px;
        border-radius: 13px;
        border: 1px solid #E5E5E5;
        padding: .8rem 1.3rem;
        margin-bottom: 1.5rem;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);

        .funding-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;


            div {
                .total-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .total-title-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .total-title-text {
                            color: #1C453B;
                            margin: 0;
                            font-family: 'gotham-medium';
                            font-size: 1rem;
                        }

                        .avatar {
                            width: 1.3rem;
                            height: 1.3rem;
                            margin-right: .5rem;

                        }
                    }
                }

                .currency-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: .5rem;
                    // margin-left: 1.2rem;

                    .currency-text {
                        color: #1C453B;
                        margin: 0;
                        font-family: 'gotham-bold';
                        font-size: 1.2rem;
                        margin-right: .5rem;
                    }

                    .currency-amount {
                        color: #1C453B;
                        margin: 0;
                        font-family: 'sansation-regular';
                        font-size: 1.2rem;
                    }
                }


            }

            .funding-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 20px;
                padding: .4rem .8rem;
                background-color: #E15220;
                cursor: pointer;

                .funding-text {
                    color: #fff;
                    margin: 0;
                    font-family: 'gotham-medium';
                    font-size: .85rem;
                }
            }
        }

    }

    .transactions-container {
        // margin: 0 18px;
        margin-bottom: 3rem;

        .transactions-header {
            color: #1C453B;
            font-family: 'gotham-bold';
            font-size: 1.1rem;
            text-align: center;
            margin-bottom: 1rem;
        }

        .wallets-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;

            .wallets {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #EFF2F6;
                border-radius: 35px;
                padding: .4rem .5rem;

                .wallet-button {
                    background-color: #E15220;
                    border-radius: 35px;
                    padding: .3rem .7rem;
                    cursor: pointer;

                    .wallet-text {
                        margin: 0;
                        font-family: 'gotham-medium';
                        color: #fff;
                        font-size: .9rem;
                    }

                    .inactive-wallet-text {
                        color: #535761;
                        margin: 0;
                        font-family: 'gotham-medium';
                        opacity: 0.5;
                        font-size: .9rem;
                        margin-right: .5rem;
                    }
                }

                .inactive-wallet-button {
                    cursor: pointer;
                    .inactive-wallet-texta {
                        color: #535761;
                        margin: 0;
                        font-family: 'gotham-medium';
                        opacity: 0.5;
                        font-size: .9rem;
                        margin-right: .5rem;
                    }

                    .inactive-wallet-texti {
                        color: #535761;
                        margin: 0;
                        font-family: 'gotham-medium';
                        opacity: 0.5;
                        font-size: .9rem;
                        margin: 0 .5rem;
                    }

                    .inactive-wallet-textd {
                        color: #535761;
                        margin: 0;
                        font-family: 'gotham-medium';
                        opacity: 0.5;
                        font-size: .9rem;
                        margin-left: .5rem;
                    }
                }

                .inactive-bonus-wallet-text {
                    .inactive-wallet-text {
                        color: #535761;
                        margin: 0;
                        font-family: 'gotham-medium';
                        opacity: 0.5;
                        font-size: .9rem;
                        margin-left: .5rem;
                    }
                }
            }
        }

        .transactions-background {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            // height: 100vh;
        }

        .transactionsSubContainer {
            .transactionDetails {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.8rem;

                .narationDetails {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    .typeAndDate {
                        margin-left: .5rem;

                        .transactionType {
                            color: #1C453B;
                            margin: 0;
                            font-family: 'gotham-medium';
                            font-size: .9rem;
                            word-wrap: break-word;
                            margin-top: .2rem;
                        }

                        .transactionDate {
                            color: #1C453B;
                            margin: 0;
                            font-family: 'sansation-regular';
                            font-size: .7rem;
                            word-wrap: break-word;
                            // word-break: break-all;
                        }
                    }
                }

                .amountDetails {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .transactionAmount {
                        color: #1C453B;
                        margin: 0;
                        font-family: 'sansation-regular';
                        font-size: .9rem;

                    }
                }
            }

            .button-container {
                background-color: #E15220;
                justify-content: center;
                flex-direction: row;
                display: flex;
                align-items: center;
                padding: 1.3rem 0;
                border-radius: 13px;
                width: 100%;
                border: none;
                margin-top: 4rem;
                cursor: pointer;

                .buttonText {
                    color: white;
                    font-size: 1.2rem;
                    font-family: 'gotham-medium';
                }

            }
        }

        .noTransactionContainer {
            .noTransaction {
                color: #1C453B;
                margin: 0;
                font-family: 'sansation-regular';
                font-size: 1.5rem;
                text-align: center;
                margin-top: 8rem;
            }
        }
    }
}