.wallet-background-color {
    background-color: #FAC502;
}
.walletScreen{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
    font-family: 'Graphik', sans-serif;
}