.supportHeader {
    // background-color: #fff;
    color: #072169;
    .help-back {
        color: #072169;
    }
}
.helpPage-container {
    background: #F2F5FF;
    height: 100vh;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .profile-tabs {
        padding: 1.2rem 0;
    }

    .container-logout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        .logout-text {
            font-family: 'sansation-bold';
            color: #EF2F55;
            font-size: .9rem;
            margin: 0;
            margin-bottom: .5rem;
            text-align: center;
            margin-top: 1rem;
            cursor: pointer;
        }

    }
    .whatsapp-chat {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        background-color: #FFF;
        border-radius: 13px;
        border: 1px solid #E5E5E5;
        padding: .7rem .5rem;
        align-items: center;
        .text-container {
            margin-left: 5px;
            .header-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .header {
                    font-size: 1rem;
                    font-family: 'gotham-bold';
                    color: #072169;
                }
            }
            .whatsapp-title {
                font-size: 0.9rem;
                font-family: 'sansation-regular';
                color: #072169;
                margin-top: 5px;
            }
        }
    }

}


.tabContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.1rem 0;
    cursor: pointer;

    .tabText {
        font-size: 0.93rem;
        font-family: 'gotham-medium';
        color: #072169;
        line-height: 2;
        width: 17.5rem;
    }
}