    .drawerHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        background-color: #F2F5FF;
        padding-top: 4rem;
        padding-bottom: 1rem;
        .avatar{
            width: 90px;
            height: 90px;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .userTitle{
            margin: 0;
            font-size: 0.9rem;
            line-height: 1;
            font-family: 'graphik-medium';
            margin-top: 10px;
            color: #000;
        }
        .nickName{
            color: #333333;
            font-size: 0.7rem;
            line-height:0.7;
            font-family: 'graphik-regular';
            opacity: 0.5;
            margin: 10px 0;
        }
        .profile{
            background-color: #EF2F55;
            padding: 10px 1.8rem;
            margin: 0 auto;
            border-radius: 32px;
            text-decoration: none;
            .profileText{
                font-size: 0.6rem;
                margin: 0;
                font-family: 'graphik-medium';
                letter-spacing: 0.5px;
                line-height: 0.6;
                color: #fff;
            }
        }
    }
