.answer{
    background-color: #fff;
    margin-bottom: .8rem;
    padding: 1rem;
    border-radius: 16px;
    border-bottom: 7px solid #C97AE0;
    .answeredOption{
        margin: 0;
        color: #151C2F;
        text-align: center;
        font-size: 0.75rem;
    }
}
.isSelected{
    background-color: #F5D2FF;
    margin-bottom: .8rem;
    padding: 1rem;
    border-radius: 16px;
    border-bottom: 7px solid #C97AE0;
    .answeredOption{
        margin: 0;
        color: #151C2F;
        text-align: center;
        font-size: 0.75rem;
    }
}