.answer{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-bottom: 1rem;
    .answer-text{
        margin: 0;
        color: #072169;
        font-size: 0.95rem;
        font-family: 'sansation-regular';
        margin-left: .7rem;
    }
}