.verify-text {
    .verify__head-text {
        font-size: 1.4rem;
        color: #151C2F;
        text-align: center;
        line-height: 1;
        font-family: 'graphik-medium';
    }

    .verify__sub-text {
        font-size: .9rem;
        color: #151C2F;
        text-align: center;
        line-height: 1.5;
        opacity: 0.6;
        margin-top: 25px
    }
}