.boosts-container {
    font-family: 'Graphik', sans-serif;
    padding: .5rem 1.5rem;

    .boosts-header {
        font-size: 0.85rem;
        font-family: 'graphik-medium';
    }

    .noBoosts{
        font-size: 0.85rem;
        font-family: 'graphik-regular';
        text-align: center;
        margin: 1rem 0;
    }
    .storeLinks {
        display: flex;
        align-items: center;
        justify-content: center;


        .needBoost {
            font-size: 0.7rem;
            font-family: 'graphik-regular';
            color: #000000;
            margin-right: 5px;
            margin-top: 1rem;

            .storeLink {
                border: none;
                font-size: 0.7rem;
                color: #EF2F55;
                font-family: 'graphik-medium';
                background: none;
                cursor: pointer;

            }
        }
    }

    .start-button {
        width: 100%;
        margin-top: 2rem;
        background-color: #EF2F55;
        border: none;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;

        .start-text {
            font-size: 0.8rem;
            font-weight: 600;
            color: #ffff;
            margin: 0;
            padding: .7rem 0;
            display: flex;
            justify-content: center;
        }
    }
    button[disabled] {
        border: none;
        background-color: #DFCBCF;
        color: white;
    }
}