
.review-header{
    background-color: #fff;
}
.reviewStaking-container {
    padding: 0 1.5rem;
    background-color: #F8F9FD;
    font-family: 'Graphik', sans-serif;
    display: flex;
    flex-direction: column;
    flex: auto 1;


   
}