.verify-header {
    .icon {
        color: #1C453B;
    }

    .title {
        color: #1C453B;
    }
}

.password-container {
    // height: 100vh;
    background-color: #F9FBFF;
    min-height: 100vh;
    padding: 2rem 1.2rem;
    overflow: scroll;

    h1 {
        text-align: start;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .text {
        font-size: 1.3rem;
        margin-top: 5rem;
        color: #1C453B;
        font-family: 'gotham-medium';
        line-height: 1.5;
    }

    .whatsapp-chat {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        background-color: #FFF;
        border-radius: 13px;
        border: 1px solid #E5E5E5;
        padding: .7rem .5rem;
        align-items: center;
        margin-top: 2.5rem;
        .text-container {
            margin-left: 5px;
            .header-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .header {
                    font-size: 1rem;
                    font-family: 'gotham-bold';
                    color: #1C453B;
                }
            }
            .whatsapp-title {
                font-size: 0.9rem;
                font-family: 'sansation-regular';
                color: #1C453B;
                margin-top: 5px;
            }
        }
    }
    .error-container {
        background-color: #FF0032;
        border-radius: 38px;
        margin: 0 2rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;

        .input-error {
            text-align: center;
            color: #FFF;
            font-size: 0.9rem;
            font-family: 'sansation-bold';
            padding: .7rem 0;
          
        }
    }
    .alert-container {
        background-color: #048C5B;
        border-radius: 38px;
        margin: 0 2rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;

        .input-error {
            text-align: center;
            color: #FFF;
            font-size: 0.9rem;
            font-family: 'sansation-bold';
            padding: .7rem 0;
          
        }
    }

    .otp-form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        div {
            display: flex;
            justify-content: space-between;

            .otp-input {
                width: 60px;
                height: 62px;
                background: #FFFFFF;
                border: 1px solid #D9D9D9;
                border-radius: 13px;
                text-align: center;
                font-family: 'sansation-bold';
                font-size: 1.2rem;
                color: #1C453B;
            }
        }


        .expire-container {
            margin-top: 2rem;

            .digit-text {
                margin: 0;
                font-family: 'sansation-bold';
                color: #1C453B;
                font-size: 1rem;
            }
        }

        .button-container {
            background-color: #E15220;
            justify-content: center;
            flex-direction: row;
            display: flex;
            align-items: center;
            padding: 1.3rem 0;
            border-radius: 13px;
            width: 100%;
            border: none;
            margin-top: 2.5rem;
            margin-bottom: 2rem;

            .buttonText {
                color: white;
                font-size: 1.2rem;
                font-family: 'gotham-medium';
            }

        }

        button[disabled] {
            border: none;
            background-color: #EA8663;
            color: white;
        }
    }
}