.verify-header {
    .icon {
        color: #072169;
    }

    .title {
        color: #072169;
    }
}

.password-container {
    // height: 100vh;
    background-color: #F9FBFF;
    min-height: 100vh;
    padding: 2rem 1.2rem;

    h1 {
        text-align: start;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    .text {
        font-size: 1.3rem;
        margin-top: 5rem;
        color: #072169;
        font-family: 'gotham-medium';
        line-height: 1.5;
    }

    .otp-form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        div {
            display: flex;
            justify-content: space-between;

            .otp-input {
                width: 60px;
                height: 62px;
                background: #FFFFFF;
                border: 1px solid #D9D9D9;
                border-radius: 13px;
                text-align: center;
                font-family: 'sansation-bold';
                font-size: 1.2rem;
                color: #072169;
            }
        }

        .error-box {
            text-align: center;
            margin: 1rem 0;
            background-color: #F442741A;
            border-radius: 7px;
            color: #EF2F55;
            font-size: 0.7rem;
            padding: .5rem 0;
            display: flex;
            justify-content: center;
            font-family: 'sansation-regular';
        }

        .expire-container {
            margin-top: 2rem;

            .digit-text {
                margin: 0;
                font-family: 'sansation-bold';
                color: #072169;
                font-size: 1rem;
            }
        }

        .button-container {
            background-color: #E15220;
            justify-content: center;
            flex-direction: row;
            display: flex;
            align-items: center;
            padding: 1.3rem 0;
            border-radius: 13px;
            width: 100%;
            border: none;
            margin-top: 2.5rem;
            margin-bottom: 2rem;

            .buttonText {
                color: white;
                font-size: 1.2rem;
                font-family: 'gotham-medium';
            }

        }

        button[disabled] {
            border: none;
            background-color: #EA8663;
            color: white;
        }
    }
}