.otp-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;

    .otp-input {
        width: 60px;
        height: 62px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 13px;
        text-align: center;
        font-family: 'sansation-bold';
        font-size: 1.2rem;
        color: #1C453B;
    }
}