.leader-background {
    background-color: #072169
}
.liveLeaderboard{
    color: #fff;
    background-color: #072169;
    .icon{
        color: #fff;
    }
}

.triviaLeaderBoardCase{
    background-color: #072169;
    min-height: 100vh;
    padding: 1rem;
}


//loitte

.resultCases{
    margin-bottom: 1.5rem;
}

.noData{
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-family: 'graphik-medium';
    margin-top: 3rem;
}