.signupProfile {
    padding: 2rem 1rem;
    font-family: 'Graphik', sans-serif;

    .headerTitle {
        margin-top: 3rem;
    }

    .inputDetailsHeader {
        text-align: center;
        margin-top: 2rem;
    }

    .formContainer {
        margin-top: 5rem;

        .inputsContainer {
            position: relative;

            .inputError {
                text-align: center;
                margin: 1rem 0;
                background-color: #F442741A;
                border-radius: 7px;
                color: #EF2F55;
                font-size: 0.7rem;
                padding: .5rem 0;
                display: flex;
                justify-content: center;
            }

            .inputContainer {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
            }

            .inputLabel {
                margin-bottom: .45rem;
                font-size: 0.7rem;
                color: #000000B2;
                font-weight: 500;
            }

            .inputBox {
                color: #00000080;
                font-size: 0.75rem;
                border-radius: 7px;
                padding: 0.5rem .6rem;
                border: 1px solid #CDD4DF;
                outline: none;
            }

            ::placeholder {
                color: #00000080;
            }

            .inputError {
                color: #EF2F55;
                font-size: 0.65rem;
                margin-top: .5rem;
            }

            .appButtonContainer {
                .buttonContainer {
                    margin-top: 3rem;
                    background-color: #EF2F55;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    padding: 0.6rem 0;
                    border-radius: 8px;
                    width: 100%;
                    border: none;

                    .buttonText {
                        color: white;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }

                }

                button[disabled] {
                    border: none;
                    background-color: #DFCBCF;
                    color: white;
                }
            }
        }
    }
}