.games-container {

    display: flex;
    flex: 5;
    flex-direction: row;
    min-height: 21rem;
    overflow-x: scroll;
    column-gap: 0.5rem;

    > div {
        max-width: 21rem;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
