.games-container {

    display: flex;
    flex-direction: row;
    justify-content: "space-between";
    min-height: 22rem;
    overflow-x: scroll;
    column-gap: 0.5rem;

    > div {
        width: 22rem;
        height: 21rem; //Changing causes issues on desktop views
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
