.games-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 311px;


    .trivia-bet-container {
        display: flex;
        flex-direction: column;
        width: 330px;
        min-width: 330px;
        margin-right: .6rem;

  
    }
}

.games-container::-webkit-scrollbar {
    display: none;
}