.sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.chooseCategory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .playButton {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        background-color: #EF2F55;
        align-items: center;
        display: flex;
        justify-content: center;
        border: none;
        position: fixed;
        right: 1rem;

        .icon {
            color: #ffff;
            font-size: 1.5rem;
        }
    }

    button[disabled] {
        border: none;
        background-color: #DFCBCF;
        color: white;
    }
}

.titleHead {
    font-size: 1rem;
    color: #ffff;
    font-weight: 600;
}