.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    .inputLabel {
        margin-bottom: .45rem;
        font-size: 0.7rem;
        color: #000000B2;
        font-weight: 500;
    }
    .passInput {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 7px;
        padding: 0.5rem 0.6rem;
        font-size: 0.7rem;
        border: 1px solid #CDD4DF;

        .passwordInput {
            border: none;
            outline: none;
            color: #00000080;
            font-size: 0.7rem;
            width: 100%;
            background: none;

        }

        .show {
            color: #00000080;
        }

        ::placeholder {
            color: #00000080;
        }
    }
    .error{
        color: #EF2F55;
        font-size: 0.65rem;
        margin: .5rem 0;
    }
}