.dashboard-feature-card {

    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border: 2px solid #E5E5E5;
    border-radius: 13px;
    padding: .5rem .8rem;

    cursor: pointer;

    .left-content {
        display: flex;
        align-items: center;
        flex-direction: row;

        .content {
            margin-left: .7rem;

            .title {
                color: #1C453B;
                font-size: .92rem;
                margin: 0;
                font-family: 'sansation-bold';
            }

            .text {
                color: #1C453B;
                font-size: .92rem;
                margin: 0;
                font-family: 'sansation-regular';
            }
        }
    }
}