.leaders-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    // overflow-x: scroll;
    .top-leaders-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: #FFF;
        border: 2px solid #E5E5E5;
        border-radius: 13px;
        padding: .5rem .8rem;
        margin-bottom: .7rem;

        // opacity: 0.4;
        .top-leaders-sub-container {
            display: flex;
            align-items: center;
            flex-direction: row;

            .image-avatar {
                width: 51px;
                height: 51px;
                background: #B2E5E37D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .avatar {
                    width: 35px;
                    height: 35px;
                }
            }

            .image-avatari {
                width: 51px;
                height: 51px;
                background: #B2E5E37D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .avatar {
                    width: 35px;
                    height: 35px;
                }
            }

            .leaders-header-container {
                margin-left: .6rem;

                .top-leaders-header {
                    color: #072169;
                    font-size: 1rem;
                    margin: 0;
                    font-family: 'sansation-bold';
                }

                .top-leaders-headeri {
                    color: #072169;
                    font-size: .85rem;
                    margin: 0;
                    font-family: 'sansation-regular';
                }
            }
        }

        .top-leaders-header {
            color: #072169;
            font-size: 1.1rem;
            margin: 0;
            font-family: 'sansation-bold';
        }

        .avatar {
            width: 4rem;
            height: 4rem;
        }

        .top-leaders-text {
            color: #072169;
            font-size: 1rem;
            margin: 0;
            font-family: 'sansation-regular';
            text-align: center;
        }

        .play-button {
            background-color: #FA5F4A;
            border-radius: 20px;
            padding: .7rem 1.7rem;

            .play-button-text {
                color: #E3ECF2;
                font-size: .95rem;
                margin: 0;
                font-family: 'sansation-bold';
            }
        }
    }

    .challenge-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #EBFAED;
        border: 2px solid #71DC7F;
        border-radius: 13px;
        min-width: 208px;
        width: 208px;
        min-height: 258px;
        padding: 1rem 0;
        opacity: 0.6;

        .top-leaders-header {
            color: #072169;
            font-size: 1.1rem;
            margin: 0;
            font-family: 'sansation-bold';
        }

        .avatar {
            width: 5rem;
            height: 5rem;
        }

        .top-leaders-text {
            color: #072169;
            font-size: 1rem;
            margin: 0;
            font-family: 'sansation-regular';
            text-align: center;
        }

        .challenge-button {
            background-color: #71DC7F;
            border-radius: 20px;
            padding: .7rem 1.7rem;

            .play-button-text {
                color: #E3ECF2;
                font-size: .95rem;
                margin: 0;
                font-family: 'sansation-bold';
            }
        }
    }

    .boosts-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #F6F4FF;
        border: 2px solid #917BFE;
        border-radius: 13px;
        min-width: 208px;
        width: 208px;
        min-height: 258px;
        padding: 1rem 0;
        margin-right: 1rem;

        .top-leaders-header {
            color: #072169;
            font-size: 1.1rem;
            margin: 0;
            font-family: 'sansation-bold';
        }

        .avatar {
            width: 4.5rem;
            height: 4.5rem;
        }

        .top-leaders-text {
            color: #072169;
            font-size: 1rem;
            margin: 0;
            font-family: 'sansation-regular';
            text-align: center;
        }

        .boost-button {
            background-color: #917BFE;
            border-radius: 20px;
            padding: .7rem 1.7rem;

            .play-button-text {
                color: #E3ECF2;
                font-size: .95rem;
                margin: 0;
                font-family: 'sansation-bold';
            }
        }
    }
}