.stkWinningsCase{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin-bottom: .6rem;
    .winningsText{
        margin: 0;
        text-align: center;
        color: #000;
        font-size: 0.9rem;
        font-family: 'graphik-regular';
    }
    .cash{
        text-align: center;
        color: #000;
        font-size: 1.2rem;
        font-family: 'graphik-bold', sans-serif;
        font-weight: 700;
        margin: 0;
    }
}