.stkWinningsCase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin-bottom: .8rem;
    .winningsText{
        margin: 0;
        text-align: center;
        color: #072169;
        font-size: 1.3rem;
        font-family: 'gotham-bold';
    }
    .cash{
        text-align: center;
        color: #072169;
        font-size: 1.2rem;
        font-family: 'gotham-bold';
        margin: 0;
    }
}