
.storeItem {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    .boost-container {
        display: flex;
        justify-content: center;

        .boost-img {
            width: 12rem;
            // height: 10rem;
        }
    }


    .storeTitle {
        font-family: 'graphik-bold';
        color: #151C2F;
        font-size: 1.2rem;
        margin: 0;
    }

    .storeText {
        font-size: 0.7rem;
        color: #151C2F;
        opacity: 0.6;
        font-family: 'graphik-regular';
        margin: 1rem 0;
        line-height: 2;
    }

    .storeCards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
    }
}

//BoostCard Details
.boost-icon {
    width: 40px;
    height: 40px;
}

.boostDetailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 1rem;
    // border: 1px solid #E0E0E0;
    border-radius: 11px;
    padding: 0.6rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .boost-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .boost-icon {
            width: 52px;
            height: 52px;
        }

        .boost-count {
            font-size: .85rem;
            font-family: 'sansation-bold';
            color: #fff;
            margin-top: 1px;
            position: absolute;
            top: 10px;
            right: 5px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    }

    .boost-name-count {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .store-item-name {
            margin: 0;
            margin-top: .5rem;
            font-family: 'gotham-bold';
            color: #072169;
            font-size: 0.95rem;
        }

        .boost-description {
            margin: 0;
            font-family: 'gotham-medium';
            font-size: 0.75rem;
            color: #072169;
            line-height: 1.5;
            width: 9rem;
        }

    }

    .cash-price {
        margin: 0;
        font-family: 'graphik-medium';
        font-size: 0.7rem;
        color: #F9FBFF;
        background-color: #FA5F4A;
        padding: .2rem .5rem;
        border-radius: 30px;
    }

}




//Buy Boost
.buyBoost {
    padding: 1rem;
    background-color: #F9FBFF;

    .buyItemHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buyItemTitle {
            font-family: 'gotham-bold';
            font-size: 1.2rem;
            color: #072169;
            margin-bottom: 0.9rem;
        }
    }

    .buyItemCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 1rem;
        margin: 1.5rem 0;
        background-color: #F8F9FD;
        border-radius: 11px;
        border: 1px solid #E0E0E0;
    }

    .boostBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: white;
        font-size: 1.1rem;
        font-family: 'gotham-medium';
        border: none;
        outline: none;
        border-radius: 11px;
        margin-top: 5rem;
        background-color: #E15220;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }

    button[disabled] {
        border: none;
        background-color: #EA8663;
        color: white;
    }
}