.topPlayerContainer {
    margin: 2rem 0;
    font-family: 'Graphik', sans-serif;
    width: 100%;


    .wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;


        .viewMore-text {
            margin: 0;
            margin-bottom: 0.2rem;
            font-size: 0.7rem;
            font-family: 'graphik-medium';
            color: #EF2F55;
        }

        .topPlayer {
            margin: 0;
            font-size: 0.8rem;
            font-family: 'graphik-bold';
            margin-left: 0.5rem;
            margin-bottom: 0.2rem;
        }
    }

    .leaderboard-cover {
        background: #FAC502;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 1rem 1rem 0 1rem;

        .view-text {
            margin: 0;
            color: #fff;
            text-align: right;
            font-family: 'graphik-regular';
            font-size: 0.6rem;
        }

        .leaderBoard {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: flex-end;
            gap: 0.5rem;
            padding-top: 1.5rem;

            .positionContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .avatarCase {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background-color: #ffff;

                    .avatar {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .leaderBoardImg {
                    max-width: 100px;
                }

                .leaderName {
                    font-size: .7rem;
                    font-family: 'graphik-medium';
                    margin: 3px;
                    color: rgba(0, 0, 0, 0.6980392157);
                }

                .leaderPoint {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    background-color: #828282;
                    bottom: 8px;
                    padding: 0.1rem 0.3rem;
                    border-radius: 0.4rem;

                    .point {
                        font-size: 0.55rem;
                        margin: 0;
                        color: #fff;
                        font-family: 'graphik-regular';
                    }
                }
            }
        }
    }
}