.topPlayerContainer{
    padding: 0 1.5rem;
    margin:2rem 0;
    font-family: 'Graphik';
    .wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: .5rem;
    .topPlayer{
        margin: 0;
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 700;
    }

    .extended{
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 500;
        margin: 0;
        color:#EF2F55;
    .extendedText{
        font-size: 0.7rem;
        font-weight: 500;
        margin: 0;
        color:#EF2F55
    }
    .icon{
        font-size: 1.3rem;
    }
}
    }
    .leaderBoard{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-end;
        background: #FAC502;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 1rem 1rem 0 1rem;
        .positionContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            .leaderName{
                font-size: .7rem;
                font-family: 'Graphik';
                margin: 3px;
                color: rgba(0, 0, 0, 0.6980392157);
            }
        }
    }
}