.staking {
    color: #072169;

    .backIcon {
        color: #072169;
    }
}

.staking-container {
    padding: 1rem 1.5rem;
    background-color: #F8F9FD;
    font-family: 'Graphik', sans-serif;
    display: flex;
    flex-direction: column;
    flex: auto 1;

    .note {
        font-family: 'gotham-medium';
        font-size: .85rem;
        color: #DF5921;
        margin-top: 1rem;
    }

    .balances-container {
        margin-top: 1rem;

        .label-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .6rem;

            .balance-label {
                font-family: 'gotham-medium';
                font-size: .9rem;
                color: #072169;
            }

            .required-text {
                font-family: 'sansation-regular';
                font-size: .9rem;
                color: #E15220;
            }
        }
    }

    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.2rem;
        margin-top: 1.5rem;

        .label-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .6rem;

            .input-label {
                font-size: 1.1rem;
                color: #072169;
                font-family: 'gotham-medium';
                margin: 0;
            }

            .required-text {
                font-size: 1rem;
                color: #E15220;
                font-family: 'sansation-regular';
                margin: 0;
            }

            .show {
                color: #072169;
            }

        }


        .input-box {
            height: 3.5rem;
            color: #072169;
            font-size: 0.95rem;
            font-family: 'sansation-regular';
            border-radius: 14px;
            padding: 0 1rem;
            border: 1px solid #D9D9D9;
            outline: none;
            background-color: #fff;
        }

        .input-boxi {
            height: 3.5rem;
            color: #072169;
            font-size: 0.95rem;
            font-family: 'sansation-regular';
            border-radius: 14px;
            padding: 0.5rem 1rem;
            border: 1px solid #EF2F55;
            outline: none;
            background-color: #fff;
        }

        ::placeholder {
            color: #00000080;
            font-family: 'sansation-regular';
        }


        .input-error {
            color: #EF2F55;
            font-size: 0.8rem;
            margin-top: .5rem;
            font-family: 'sansation-regular';
        }

        .input-error-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: .5rem;


            .input-error {
                color: #EF2F55;
                font-size: 0.8rem;
                font-family: 'sansation-regular';
            }

            .fund-container {
                border: 1.8px solid #072169;
                border-radius: 13px;
                padding: .2rem .8rem;

                .fund {
                    color: #072169;
                    font-size: 0.7rem;
                    margin-top: .5rem;
                    font-family: 'sansation-regular';
                }
            }
        }

    }

    .button-container {
        background-color: #E15220;
        justify-content: center;
        flex-direction: row;
        display: flex;
        align-items: center;
        padding: .95rem 0;
        border-radius: 13px;
        width: 100%;
        border: none;
        margin-bottom: 1.5rem;
        margin-top: 1rem;

        .buttonText {
            color: white;
            font-size: 1.1rem;
            font-family: 'gotham-medium';
            margin: 0;
        }


    }

    button[disabled] {
        border: none;
        background-color: #EA8663;
        color: white;
    }

    .stake-container {
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-radius: 13px;
        display: flex;
        flex-direction: column;
        padding: 1rem 1.5rem;


        .stake-heading {
            text-align: center;
            font-family: 'gotham-bold';
            font-size: 1rem;
            color: #072169;
            margin: 1.1rem 0;
        }

        .stake-headers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #E0E0E0;
            padding-bottom: .7rem;
            margin: 10px 0;

            .stake-score {
                font-family: 'gotham-bold';
                font-size: .9rem;
                color: #072169;
            }

            .stake-head {
                font-family: 'gotham-bold';
                font-size: .9rem;
                color: #072169;
                margin-right: 1rem;
            }

            .stake-pay {
                font-family: 'gotham-bold';
                font-size: .9rem;
                color: #072169;
                margin-right: 1rem;
            }
        }

        .stake-sub {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #E0E0E0;
            padding: 20px 0;
            align-items: center;

            .stake-score-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1rem;
                width: 2rem;

                .stake-score-digit {
                    font-family: 'sansation-bold';
                    font-size: .9rem;
                    color: #072169;
                    margin-left: .3rem;
                }
            }

            .stake-number {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1rem;
                width: 3rem;

                .stake-odd-digit {
                    font-family: 'sansation-bold';
                    font-size: .9rem;
                    color: #072169;
                    margin-left: .3rem;
                }
            }

            .stake-winnings {
                font-family: 'sansation-bold';
                font-size: .85rem;
                color: #072169;
                width: 4.8rem;
                align-items: flex-start;
            }
        }
    }
}