.staking {
    background-color: #fff;
}

.staking-container {
    // padding: 0 1.5rem;

    .amountContainer {
        .walletContainer {
            background-color: #F3F3F3;
            text-align: center;
            padding: .6rem 0;
            border-radius: 64px;
            margin: 0 1.5rem;

            .wallet {
                font-size: 0.7rem;
                font-weight: 500;
                margin: 0;
                color: #01A7DB;
            }
        }

        .inputContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 2rem;
            border-bottom: 1px solid #E0E0E0;
            padding-bottom: 2.5rem;

            .stakeInput {
                border: none;
                width: 100%;
                text-align: center;
                font-size: 1.7rem;
                font-weight: 600;
                color: #333333;
                opacity: 0.6;
                outline-style: none;
            }
        }
        .buttonContainer {
            padding: 0 1.5rem;
            .start-button {
                width: 100%;
                margin-top: 2rem;
                background-color: #EF2F55;
                border: none;
                border-radius: 8px;
                align-items: center;
                padding: .7rem 0;
    
                .start-text {
                    font-size: 0.8rem;
                    font-weight: 600;
                    color: #ffff;
                    margin: 0;
                    text-align: center;
                }
            }
    
            button[disabled] {
                border: none;
                background-color: #DFCBCF;
                color: white;
            }
        }

      
    }
}