.staking {
    color: #072169;

    .backIcon {
        color: #072169;
    }
}

.staking-container {
    padding: 1rem 1.5rem;
    background-color: #F8F9FD;
    font-family: 'Graphik', sans-serif;
    display: flex;
    flex-direction: column;
    flex: auto 1;
}