
.balances-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    .balance-label {
        margin-bottom: 1rem;
        font-family: 'gotham-bold';
        font-size: .95rem;
        color: #1C453B;
    }
}