.topic-progress{
    border-bottom: 1px solid #93939336;
    padding: 18px 1.3rem;
    .topic-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .category-container {
            display: flex;
            flex-direction: column;
            .category-name {
                font-size: 1rem;
                color: #072169;
                font-family: 'gotham-bold';
            }
            .questions-answered {
                font-size: .85rem;
                color: #072169;
                font-family: 'gotham-bold';
            }
            .questions-answered-container {
                margin: 12px 0;
            }
        }
        .odd-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            .odd-title {
                font-size: .85rem;
                color: #072169;
                font-family: 'gotham-bold';
            }
            .odd-text{
                font-size: .85rem;
                color: #072169;
                font-family: 'sansation-regular';
                margin-left: .3rem;
            }
        }
    }
   
}
