.end-game-container {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem 2rem;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    .head-text {
        font-size: 1.2rem;
        font-family: 'gotham-bold';
        color: #072169;
        text-align: center;
        line-height: 2;
    }

    .players-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border-radius: 13px;
        padding: 15px 20px;
        margin-bottom: .5rem;
        .versus {
            width: 6rem;
            height: 6rem;
        }

        .player-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar-container {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: #F6F4FF;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .player-name {
                margin: 0;
                margin-top: 0.8rem;
                font-size: 0.95rem;
                font-family: 'gotham-bold';
                color: #072169;
                text-align: center;
                word-wrap: break-word;
                word-break: break-all;
            }
        }

    }

    .winnings-container {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        padding: 1rem 3rem;
        margin: .5rem 0;
        border-radius: 10px;

        .winnings-header {
            font-size: 1rem;
            font-family: 'gotham-bold';
            color: #072169;
            text-align: center;
        }

        .score-count-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1rem;

            .user-count-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                .count-name {
                    font-size: .95rem;
                    font-family: 'sansation-regular';
                    color: #072169;
                    text-align: center;
                }

                .score-count {
                    font-size: 2rem;
                    font-family: 'gotham-bold';
                    color: #072169;
                    text-align: center;
                }
            }
        }
    }

    .amount-container {
        background-color: #AAD880;
        display: flex;
        flex-direction: column;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        padding: 1rem 3rem;
        margin: .5rem 0;
        border-radius: 10px;
        .winnings-header {
            font-size: 1.1rem;
            font-family: 'gotham-bold';
            color: #072169;
            text-align: center;
        }
        .amount {
            font-size: 1rem;
            font-family: 'gotham-bold';
            color: #072169;
            text-align: center;
            margin-top: .6rem;
        }
    }

    .final-score-case {
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        margin-bottom: 1.8rem;
        margin-top: .5rem;
        padding: 0.8rem 1.5rem;
        justify-content: center;
        align-items: center;

        .point-text-header {
            font-size: 1.3rem;
            font-family: 'gotham-bold';
            color: #072169;
            margin-bottom: .7rem;
        }

        .scoreContainer {
            margin: 1rem 0;

            .point-text {
                font-size: 1.1rem;
                font-family: 'gotham-medium';
                color: #072169;
                margin: 0;
            }

            .point-number {
                font-size: 1.1rem;
                font-family: 'sansation-regular';
                color: #072169;
                margin: 0;
                margin-left: .7rem;
            }
        }


        .sub-containers {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 12px;

            .finalScoreText {
                margin: 0;
                color: #FFF;
                font-size: 0.9rem;
                font-family: 'graphik-medium';
            }

            .score {
                color: #FFF;
                font-size: 0.8rem;
                font-family: 'graphik-medium';
                margin: 0;
            }
        }

        .score-button-container {
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            .score-button {
                background-color: #EF2F55;
                border: none;
                color: #FFF;
                font-size: 0.8rem;
                font-family: 'graphik-medium';
                padding: .3rem 3rem;
                border-radius: 15px;
            }
        }

    }

    .game-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;

        .game-button {
            border: 1px solid #fff;
            width: 9rem;
            height: 3rem;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            color: #fff;
            font-size: 0.75rem;
            font-family: 'graphik-medium';
            text-align: center;
        }

        .is-disabled {
            border: 1px solid #fff;
            width: 9rem;
            height: 3rem;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 0.75rem;
            font-family: 'graphik-medium';
            text-align: center;
            background-color: #DFCBCF;
        }
    }
}