.appHeaderContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem 0.5rem 1rem;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: #EFF2F6;

    .navlink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 1rem;
        // margin-bottom: 0.2;
        font-size: .8rem;
        color: #1C453B;
        font-family: 'gotham-medium';
        opacity: 0.5;
        text-transform: capitalize;

        .icon {
            padding: 0.5rem;
        }
    }

    .active {
        opacity: 1;
    }

}