.appHeaderContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1.4rem;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: #EFF2F6;
    border: 1px solid #ccc;

    .navlink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 0.2rem;
        margin-bottom: 0;
        font-size: 0.65rem;
        color: #1C453B;
        font-family: 'gotham-medium';
        opacity: 0.5;
        text-transform: capitalize;

        .icon {
            font-size: 1.8rem;
        }
    }

    .active {
        opacity: 1;
    }

}