.resend-timer-container {
    background-color: #F9FBFF;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 1.3rem 0;
    border-radius: 13px;
    width: 100%;
    border: 2px solid #1C453B;

    .status-text {
        color: #1C453B;
        font-size: 1.2rem;
        font-family: 'gotham-medium';
    }

    .resend-timer {
        color: #1C453B;
        font-size: 1.2rem;
        font-family: 'gotham-medium';
    }
}

.disabled {
    background-color: #ccc;
    border: 1px solid #ccc;
    opacity: 0.6;
}