.instruction-header {
    background-color: #ffff;
    color: #000000;

    .backIcon {
        color: #000000;
    }
}

.gameInstructionContainer {
    font-family: 'Graphik', sans-serif;
    padding: 1rem 1.5rem;

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        .no-staking {
            background-color: #EF2F55;
            border: none;
            border-radius: 8px;
            height: 2.5rem;
            width: 100%;
            cursor: pointer;

            .no-stake-text {
                margin: 0;
                font-size: 0.8rem;
                font-weight: 600;
                color: #ffff;
            }
        }

        .proceedNow {
            background: transparent;
            border: 1px solid #EF2F55;
            border-radius: 8px;
            height: 2.5rem;
            width: 9rem;

            .text {
                margin: 0;
                font-size: 0.8rem;
                font-weight: 600;
                color: #EF2F55;
            }
        }
    }

    .instruction {
        display: flex;
        flex-direction: row;
        margin-bottom: 11px;

        .unicode {
            margin: 0;
            font-size: 1.5rem;
            font-family: 'graphik-bold';
            color: #4F4F4F;
            margin-right: 10px;
        }

        .instructionText {
            margin: 0;
            font-size: .9rem;
            font-weight: 400;
            color: #4F4F4F;
            text-align: justify;
            line-height: 1.5;
            font-family: 'graphik-regular';

        }

    }

}