

.formCase {
    // display: flex;
    padding: 1.5rem 1rem;
    background-color: #F9FBFF;

    .inputsCase {
        .inputCase {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 1rem;

            .inputLabel {
                margin-bottom: .45rem;
                font-size: 0.85rem;
                color: #1C453B;
                font-family: 'gotham-medium';
            }

            .inputBox,
            .inputBox2 {
                color: #1C453B;
                font-size: 0.8rem;
                border-radius: 13px;
                padding: 0.5rem 0;
                border: none;
                outline: none;
                margin-bottom: .5rem;
                font-family: 'sansation-regular';
            }

            .inputBox2 {
                border: 1px solid #CDD4DF;
                padding: 1.1rem .9rem;
            }

            .phoneContainer {
                border: none;
                padding: 0.5rem 0rem;
                border-radius: 7px;
                font-size: 0.75rem;
                margin-bottom: .5rem;

                .countryCode {
                    border: none;
                    border-right: 1px solid #CDD4DF;
                    width: 2rem;
                    margin-right: .5rem;
                    font-size: 0.8rem;
                    color: #1C453B;
                    outline: none;
                    font-family: 'sansation-regular';
                }

                .phoneInput {
                    border: none;
                    outline: none;
                    color: #1C453B;
                    font-size: 0.8rem;
                    font-family: 'sansation-regular';
                }

            }

            .selectBox {
                color: #1C453B;
                font-size: 0.7rem;
                padding: 0.5rem 0;
                border: 1px solid #CDD4DF;
                background-color: #ebeff5;

                .selectItem {
                    font-size: 0.75rem;
                }
            }

            .warning-text {
                font-size: 0.7rem;
                font-family: 'graphik-medium';
                color: #EF2F55;
                cursor: pointer;
            }
            .input-error {
                font-size: 0.65rem;
                font-family: 'graphik-regular';
                color: #EF2F55;
                margin-bottom: 5px;
            }
        }


        .save-button-container {
            background-color: #E15220;
            justify-content: center;
            flex-direction: row;
            display: flex;
            align-items: center;
            padding: 1.3rem 0;
            border-radius: 13px;
            width: 100%;
            border: none;

            .buttonText {
                color: white;
                font-size: 1.2rem;
                font-family: 'gotham-medium';
            }

        }

        button[disabled] {
            border: none;
            background-color: #EA8663;
            color: white;
        }
    }
}