.storeLinks {
    .needBoost {
        font-size: 0.69rem;
        color: #000;
        margin: 0;
        font-family: 'graphik-regular';
        .storeLink {
            font-size: 0.69rem;
            color: #EF2F55;
            margin: 0;
            font-family: 'graphik-medium';
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}