
.form-container {
    padding: 1rem 1.5rem;
    background-color: #F9FBFF;
    .agreement {
        color: #072169;
    
        .backIcon {
            color: #072169;
        }
        margin-bottom: 2rem;
    }
    .form-title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: #072169;
        font-family: 'gotham-medium';
        line-height: 1.5;
    }

    .whatsapp-chat {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        background-color: #FFF;
        border-radius: 13px;
        border: 1px solid #E5E5E5;
        padding: .7rem .5rem;
        align-items: center;
        margin-bottom: 2rem;

        .text-container {
            margin-left: 5px;
            .header-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .header {
                    font-size: 1rem;
                    font-family: 'gotham-bold';
                    color: #072169;
                }
            }
            .whatsapp-title {
                font-size: 0.9rem;
                font-family: 'sansation-regular';
                color: #072169;
                margin-top: 5px;
            }
        }
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .inputLabel {
            margin-bottom: .45rem;
            font-size: 0.95rem;
            color: #072169;
            font-family: 'gotham-medium';
        }

        .inputBox {
            color: #072169;
            font-size: 0.85rem;
            font-family: 'sansation-regular';
            border-radius: 7px;
            padding: 0.9rem .6rem;
            border: 1px solid #CDD4DF;
            outline: none;
        }

        .textArea {
            color: #072169;
            font-size: 0.85rem;
            font-family: 'sansation-regular';
            border-radius: 7px;
            padding: 0.5rem .6rem;
            border: 1px solid #CDD4DF;
            outline: none;
        }

        .email {
            color: #00000080;
            font-size: 0.7rem;
            font-family: 'graphik-regular';
            padding: 0.5rem 0;
            outline: none;
            margin: 0;
        }

        .inputError {
            margin: 0;
            border-radius: 7px;
            color: #EF2F55;
            font-size: 0.7rem;
            font-family: 'graphik-regular';
            padding: .5rem 0;
        }
    }

    .send-btn {
        margin-top: 2.3rem;
        background-color: #E05C28;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0.75rem 0;
        border-radius: 7.5px;
        width: 100%;
        border: none;
        color: white;
        font-size: 1rem;
        font-family: 'gotham-medium';
    }
    button[disabled] {
        border: none;
        background-color: #EA8663;
        color: white;
    }
    .go-btn {
        display: flex;
        color: #E05C28;
        font-size: 0.75rem;
        font-family: 'graphik-medium';
        justify-content: center;
        cursor: pointer;
    }
}