.leaders-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .top-leaders-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: #FFF;
        border: 2px solid #E5E5E5;
        border-radius: 13px;
        padding: .5rem .8rem;
        margin-bottom: .7rem;
        cursor: pointer;

        .live-container {
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: #FA5F4A;
            border-radius: 30px;
            padding: .2rem .4rem;
            .live-text {
                color: #F9FBFF;
                font-family: 'gotham-medium';
                font-size: 10px;
                margin-left: .1rem;
            }
        }

        .top-leaders-sub-container {
            display: flex;
            align-items: center;
            flex-direction: row;

            .image-avatar {
                width: 51px;
                height: 51px;
                background: #FEECE7;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .avatar {
                    width: 35px;
                    height: 35px;
                }
            }

            .image-avatari {
                width: 51px;
                height: 51px;
                background: #B2E5E37D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .avatar {
                    width: 45px;
                    height: 45px;
                }
            }

            .leaders-header-container {
                margin-left: .7rem;

                .top-leaders-header {
                    color: #1C453B;
                    font-size: 1.02rem;
                    margin: 0;
                    font-family: 'gotham-medium';
                }

                .top-leaders-headeri {
                    color: #1C453B;
                    font-size: .92rem;
                    margin: 0;
                    font-family: 'sansation-regular';
                }

                .top-leaders-headerii {
                    color: #1C453B;
                    font-size: .92rem;
                    margin: 0;
                    font-family: 'sansation-bold';
                }
            }
        }
    }
}