.container {
    padding: 1rem 1.2rem;

    .agreement {
        color: #1C453B;
    
        .backIcon {
            color: #1C453B;
        }
        margin-bottom: 2rem;
    }

    h3 {
        font-size: medium;
        color: #1C453B;
        margin: 0;
        padding: 0 5px;
        font-family: 'gotham-bold';
    }

    p {
        font-size: smaller;
        font-family: 'sansation-regular';
        line-height: 25px;
        color: #1C453B;
        margin-top: 5px;

        span {
            font-size: small;
            font-family: 'sansation-bold';
        }
    }
}