.mainFooter {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    width: 100%;
    position: relative;

    @media screen and (min-width: 280px) and (max-width: 600px) {
        display: none;
    }

    .mainfooter__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: contain;
        width: 100%;
    }

    .mainfooter__container {
        z-index: 10;

        .mainfooter__text-title {
            font-size: 1.2rem;
            text-align: center;
            font-family: 'sansation-bold';
            color: #fff;
            margin: 0.5rem 0;
            z-index: inherit;
        }

        .mainfooter__testimony {
            padding: 0.5rem;

            .mainfooter__testimony-testimony1 {
                margin-bottom: 1.5rem;

                .testimony1__text {
                    font-size: 0.8rem;
                    font-family: 'gotham-medium';
                    color: #E15220
                }

                .testimony__title {
                    font-family: 'gotham-medium';
                    color: #fff;
                    font-size: 1.2rem;
                }

                .testimony1__testimony {
                    font-family: 'gotham-light';
                    color: #fff;
                    font-size: 0.8rem;
                    line-height: 1.5;
                    margin: 0.5rem 0;
                }
            }
        }

        .carousel_container {
            padding: 2rem;

            .testimony__slide {
                background: #fff;
                padding: 1rem;
                border-radius: 10px;
                box-shadow: 1px 12px 15px 0px #00000040;

                .testimony__name {
                    font-family: 'gotham-medium';
                    color: #000;
                    font-size: 1.2rem;
                }

                .testimony1__testimony {
                    font-family: 'gotham-light';
                    color: #938EAE;
                    font-size: 0.8rem;
                    line-height: 1.5;
                    margin: 0.5rem 0;
                }
            }
        }
    }
}

.mainMobileFooter {
    display: none;

    @media screen and (min-width: 280px) and (max-width: 600px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .testimonial {
        width: 20rem;
        align-self: center;
    }
    .spherical_dots{
        position: absolute;
        width: 15rem;
        align-self: center;
        margin-top: 25rem;
    }
}

p {
    margin: 0;
}