
.mainFooter{
    font-family: 'Graphik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    background-color: #EF2F55;
    width: 100%;
    .authHeader{
        color: #fff;
        font-family: 'graphik-medium';
        font-size: 1.5rem;
        margin: 2rem 0;
        letter-spacing: 2px;
    }
    .mainFooterText{
        margin: .2rem;
        color: #fff;
        font-family: 'graphik-regular';
        font-size: .9rem;
        letter-spacing: 2px;
    }
    .singupLink{
        background-color: #ef2f55;
        border: 1px solid #fff;
        width: 158px;
        color: #fff;
        padding: .8rem;
        margin: 1.5rem;
        font-size: .8rem;
        font-family: 'graphik-medium';
        border-radius: 100px;
        cursor: pointer;
    }
}