.cash-header {
    color: #072169;

    .backIcon {
        color: #072169;
    }
}

.cashdrops-container {
    min-height: 100vh;
    padding: 2rem 1.2rem;
    overflow: scroll;

    .header-text {
        color: #072169;
        font-size: 1.08rem;
        margin: 0;
        font-family: 'sansation-regular';
        text-align: center;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

    .cashdrops-list {
        display: flex;
        flex-direction: column;

        .drop-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: .7rem 1rem 1.1rem 1rem;
            border-radius: 13px;
            margin-bottom: .7rem;
            border: 1px solid #E5E5E5;


            .badge-container {
                background-color: #FFF;
                border-radius: 100px;
                padding: .2rem;
                position: relative;
                width: 3.3rem;
                height: 3.3rem;

                .badge-avatar {
                    width: 3.7rem;
                    height: 3.7rem;
                    position: absolute;
                    top: .3rem;
                    right: -3px;
                }
            }

            .drop-details {
                display: flex;
                flex-direction: column;
                text-align: left;

                .hot-text {
                    background-color: #FA5F4A;
                    color: #F9FBFF;
                    font-family: 'gotham-medium';
                    font-size: .6rem;
                    border-radius: 30px;
                    padding: .2rem .4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    margin-bottom: .5rem;
                }

                .hot-icon {
                    width: .75rem;
                    height: .75rem;
                }

                .drop-name {
                    color: #072169;
                    font-family: 'gotham-medium';
                }

                .amount-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .amount-digit {
                        color: #072169;
                        font-family: 'sansation-bold';
                        font-size: .95rem;
                        margin-right: .2rem;
                    }

                    .amount-currency {
                        color: #072169;
                        font-family: 'sansation-bold';
                        font-size: .75rem;
                    }
                }
            }

            .stake-container {
                background-color: #FA5F4A;
                border-radius: 30px;
                padding: .2rem .4rem;
                display: flex;
                align-items: center;

                .stake-text {
                    color: #F9FBFF;
                    font-family: 'gotham-medium';
                    font-size: .6rem;
                    display: flex;
                }
            }
        }
    }

    .winners-header {
        color: #072169;
        font-family: 'gotham-bold';
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: .8rem;
    }

    .empty-text {
        color: #072169;
        font-family: 'sansation-regular';
        font-size: 1rem;
        text-align: center;
        margin-top: 5rem;
    }

    .winners-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1.2rem;

        .winner-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33.3%;
            margin-bottom: 1.1rem;

            .winner__container_img {
                position: relative;
                width: 71px;
                height: 71px;

                .winner-avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    border: 1px solid #E5E5E5;
                }

                .winner__badge {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -13px;

                    .badge-avatar {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
            }

            .name {
                color: #F9FBFF;
                font-family: 'gotham-medium';
                font-size: 10px;
                text-align: center;
                background-color: #FA5F4A;
                padding: .2rem .4rem;
                border-radius: 30px;
                text-align: center;
                margin-bottom: .5rem;
            }

            .winner_amount {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                font-size: 13px;
                font-weight: 700;
                font-family: 'sansation-regular';
                color: #1C453B
            }

            .winner__date {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .date {
                    color: #1C453B;
                    text-align: center;
                    font-family: 'gotham-medium';
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 350;
                    line-height: 11.5px;
                    letter-spacing: -0.2px;
                }
            }
        }
    }
}