.loader {
    background-color: transparent;
}

.userProfileContainer {
    margin-top: 2rem;
    padding: 0 1rem;

    .userImgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .avatar-case {
            height: 90px;
            width: 90px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);

            .userAvater {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .cameraCase {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #EF2F55;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5rem;
            cursor: pointer;

            .icon {
                color: #fff;
                font-size: 1.4rem;
            }
        }
    }

}