.mainContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.2rem;

    .boostPurchaseContainer {

        .boostImg {
            display: flex;
            align-items: center;
            justify-content: center;

            .boost-icon {
                width: 8rem;
                height: 8rem;
            }
        }

        p {
            margin: 0;
        }

        .paymentHeader {
            font-family: 'gotham-bold';
            text-align: center;
            font-size: 1.6rem;
            color: #072169;
            margin: 0;
        }

        .message {
            font-family: 'gotham-medium';
            text-align: center;
            line-height: 2;
            color: #072169;
            margin-top: 1rem;
            font-size: 1.2rem;
        }
    }


    .actionBtn {
        margin-top: 2rem;
        text-decoration: none;
        width: 100%;
        border: none;
        font-family: 'gotham-medium';
        color: #fff;
        background-color: #E15220;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 11px;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
    }
}