.screenHeader {
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;

    .title {
        font-family: 'graphik-medium';
        font-size: 1.3rem;
        margin: 0;
    }
    .icon {
        font-size: 1.3rem;
        font-family: 'graphik-regular';
        color: #000;
        cursor: pointer;
    }
}