.screenHeader {
    display: flex;
    padding: 1rem 1rem 0.5rem;
    align-items: center;
    gap: 2rem;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    height: 5.1rem;
    .title {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .icon {
        font-size: 1.3rem;
        font-weight: 400;
        color: #000;
    }
}