.footer__container{
    .footer__link-container{
        display: flex;
        padding: 02rem;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        .link-container{
            background-color: #E25C2E;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            .link{
                color: #fff;
                font-size: .5rem;
                font-family: 'gotham-medium';
                text-decoration: none;
            }
        }
        .footer__container-text{

            .footer__text-title{
                color: #035D8C;
                font-size: .8rem;
                text-align: center;
                font-family: 'gotham-medium';
            }
            .footer__text{
                color: #035D8C;
                font-size: .6rem;
                text-align: center;
                font-family: 'gotham-light';
            }
        }
    }
    .footer__container2{
        padding: 4rem 2rem;
        @media screen and (min-width: 1025px) {
           display: flex;
           align-items: center;
        }
        .footer__container-img{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .footer2__image{
                object-fit: contain;
                width:60px;
                height: 60px;
            }
        }
        .footer__newsletter{
            display: flex;
            gap: 0.3rem;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 1rem;
            .newsletter_text{
                color: #fff;
                font-size: .8rem;
                text-align: center;
                font-family: 'gotham-medium';
            }
            .newsletter__form{
                input{
                    outline: none;
                    border: none;
                    background-color: #fff;
                    border-radius: 5px;
                    padding: 0.1rem;
                }
            }
            button{
                outline: none;
                border: none;
                background-color: #0086CD;
                border-radius: 5px;
                color: #fff;
                font-size: .6rem;
                text-align: center;
                font-family: 'gotham-medium';
                padding:0.3rem 0.5rem;
                margin-left: 0.02rem;
            }
            .terms{
                .terms__text{
                color: #fff;
                font-size: .6rem;
                text-align: center;
                font-family: 'gotham-medium';
                }
            }
        }
    }
}
