.notification-background-color {
    background-color: #ffe900;
}
.notificationHeader {    
    background-color: #ffe900;
}

.notificationContainer{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: scroll;
    font-family: 'Graphik', sans-serif;
    padding: 2rem 1rem;
    .markAsRead{
        display: flex;
        justify-content: flex-end;
        .markBtn{
            display: flex;
            align-items: center;
            background-color: #ffe900;
            border: none;
            border-radius: 30px;
            padding: .4rem 0.5rem;
            gap: 0.27rem;
            cursor: pointer;
            .markText{
                margin: 0;
                font-size: .65rem;
                font-family: 'graphik-medium';
            }
            .icon{
                color: #072169;
                cursor: pointer;
            }
        }
    }
}

.notificationContainer::-webkit-scrollbar{
    display: none;
}
.noNotificationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    .noNotification{
        font-weight: 600;
        font-size: 1rem;
        color: #fff;
        text-align: center;
    }
}