.anonymousRouteHeader {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    .headerTitle {
        display: flex;
        align-items: center;
        gap: 3.5rem;
    }
    .title {
        font-size: 25px;
        margin: 0;
        font-family: 'gotham-medium';
    }
    .icon {
        color: #072169;
        cursor: pointer;
    }
}