.anonymousRouteHeader {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    align-items: center;
    justify-content: space-between;

    .exit-container {
        background-color: #EEEEEE;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
            color: #1C453B;
            cursor: pointer;
        }
    }
    .icon {
        color: #1C453B;
        cursor: pointer;
    }

    .title {
        font-size: 23px;
        margin: 0;
        font-family: 'gotham-medium';
    }
}