.anonymousRouteHeader {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    align-items: center;
    justify-content: space-between;
    .title {
        font-size: 21px;
        margin: 0;
        font-family: 'gotham-medium';
    }
    .icon {
        color: #1C453B;
        cursor: pointer;
    }
}